<h1 class="page-title mt-2">{{'PRIVACY.TITLE' | customTranslate | translate}}</h1>
<div class="user-theme">
  @if (outerLoading) {
    <mat-spinner class="ms-auto me-auto"></mat-spinner>
  }
  @if (!outerLoading) {
    <mat-accordion>
      <mat-expansion-panel (opened)="getUserData()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'PRIVACY.USER_INFO' | customTranslate | translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div class="position-relative table-min-height">
            <perun-web-apps-attributes-list
              *perunWebAppsLoader="innerLoading; indicator: spinner"
              [loading]="innerLoading"
              [attributes]="attributes"
              [readonly]="true"
              [hiddenColumns]="hiddenColumns"></perun-web-apps-attributes-list>
          </div>
        </ng-template>
      </mat-expansion-panel>

      <div class="mt-5">
        <h1 class="page-subtitle">{{'PRIVACY.VOS' | customTranslate | translate}}</h1>
        <perun-web-apps-debounce-filter
          [placeholder]="'PRIVACY.FILTER_VO' | customTranslate | translate"
          (filter)="applyFilterVo($event)"></perun-web-apps-debounce-filter>
        <mat-slide-toggle [(ngModel)]="filterEmptyVo" labelPosition="before">
          {{'PRIVACY.FILTER_EMPTY' | translate}}
        </mat-slide-toggle>
        <div class="position-relative table-min-height">
          @for (vo of filteredVos; track vo.id) {
            <mat-expansion-panel (opened)="getMemberData(vo)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'PRIVACY.DATA' | customTranslate | translate}}{{vo.name}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <div class="position-relative table-min-height">
                  <perun-web-apps-attributes-list
                    *perunWebAppsLoader="innerLoading; indicator: spinner"
                    [loading]="innerLoading"
                    [attributes]="attributes"
                    [readonly]="true"
                    [filterEmpty]="filterEmptyVo"
                    [filterFalse]="filterEmptyVo"
                    [hiddenColumns]="hiddenColumns"></perun-web-apps-attributes-list>
                </div>
              </ng-template>
            </mat-expansion-panel>
          }
        </div>
      </div>

      <div class="mt-5">
        <h1 class="page-subtitle">{{'PRIVACY.FACILITIES' | customTranslate | translate}}</h1>
        <perun-web-apps-debounce-filter
          [placeholder]="'PRIVACY.FILTER_FACILITY' | customTranslate | translate"
          (filter)="applyFilterFacility($event)"></perun-web-apps-debounce-filter>
        <mat-slide-toggle [(ngModel)]="filterEmptyFacility" labelPosition="before">
          {{'PRIVACY.FILTER_EMPTY' | translate}}
        </mat-slide-toggle>
        <div class="position-relative table-min-height">
          @for (facility of filteredFacilities; track facility) {
            <mat-expansion-panel (opened)="getUserFacilityData(facility)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'PRIVACY.DATA' | customTranslate | translate}}{{facility.name}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <div class="position-relative table-min-height">
                  <perun-web-apps-attributes-list
                    *perunWebAppsLoader="innerLoading; indicator: spinner"
                    [loading]="innerLoading"
                    [attributes]="attributes"
                    [readonly]="true"
                    [filterEmpty]="filterEmptyFacility"
                    [filterFalse]="filterEmptyFacility"
                    [hiddenColumns]="hiddenColumns"></perun-web-apps-attributes-list>
                </div>
              </ng-template>
            </mat-expansion-panel>
          }
        </div>
      </div>

      <ng-template #spinner>
        <perun-web-apps-loading-table></perun-web-apps-loading-table>
      </ng-template>
    </mat-accordion>
  }
</div>
