<h1 class="page-subtitle">{{'USER_DETAIL.SETTINGS.SERVICE_IDENTITIES.TITLE' | translate}}</h1>
<perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
<button
  *ngIf="addIdentity"
  (click)="onAdd()"
  color="accent"
  class="me-2 action-button"
  mat-flat-button>
  {{'USER_DETAIL.SETTINGS.SERVICE_IDENTITIES.CREATE' | translate}}
</button>
<button
  *ngIf="removeIdentity"
  (click)="onRemove()"
  [disabled]="loading || selection.selected.length === 0"
  color="warn"
  class="me-2"
  mat-flat-button>
  {{'USER_DETAIL.SETTINGS.SERVICE_IDENTITIES.DELETE' | translate}}
</button>

<ng-template #spinner>
  <perun-web-apps-loading-table></perun-web-apps-loading-table>
</ng-template>
<div class="position-relative table-min-height">
  <perun-web-apps-users-list
    *perunWebAppsLoader="loading; indicator: spinner"
    [loading]="loading"
    [noUsersFoundLabel]="'USER_DETAIL.SETTINGS.SERVICE_IDENTITIES.NO_IDENTITIES' | translate"
    [routeToAdmin]="routeToAdminSection"
    [displayColumns]="displayedColumns"
    [selection]="selection"
    [tableId]="tableId"
    [users]="identities"
    [cacheSubject]="cacheSubject">
  </perun-web-apps-users-list>
</div>
