@if (!success && !loading && !error) {
  <perun-web-apps-password-form
    [formGroup]="newPasswdForm"
    [namespace]="namespace"
    [language]="language">
  </perun-web-apps-password-form>
}

@if (!success && !error && !loading) {
  <div>
    <button
      class="mx-auto d-block"
      mat-flat-button
      (click)="onSubmit()"
      [disabled]="newPasswdForm.invalid || newPasswdForm.pending"
      color="accent">
      {{(mode === 'reset'? 'PAGES.PWD_RESET_PAGE.RESET_BUTTON' : 'PAGES.PWD_RESET_PAGE.ACTIVATION_BUTTON') | translate}}
    </button>
  </div>
}

@if (success && !loading) {
  <div class="mt-5">
    <perun-web-apps-alert alert_type="success">
      {{successMsg}}
    </perun-web-apps-alert>
  </div>
}

@if (error && !loading) {
  <div class="mt-5">
    <perun-web-apps-alert alert_type="error">
      {{errorMsg}}
    </perun-web-apps-alert>
    <div class="d-flex flex-row-reverse">
      <button mat-flat-button class="ms-2" color="primary" (click)="onSubmit()">
        {{'PAGES.PWD_RESET_PAGE.RETRY_BUTTON' | translate}}
      </button>
      <button mat-stroked-button (click)="onBugReportClick()">
        {{'SHARED_LIB.PERUN.COMPONENTS.BUG_REPORT.TITLE' | translate}}
      </button>
    </div>
  </div>
}

@if (loading) {
  <mat-spinner class="ms-auto me-auto"></mat-spinner>
}
