<!--<app-refresh-button (refresh)="refreshTable()"></app-refresh-button>-->

<h1 class="page-subtitle pt-2">{{'GROUPS.TITLE' | translate}}</h1>

<mat-form-field class="mr-2 w-75" *ngIf="!loading">
  <mat-label>{{'GROUPS.SELECT_VO' | translate}}</mat-label>
  <input type="text" placeholder="{{'GROUPS.SELECT_VO' | translate}}" aria-label="Assignee" matInput
         [formControl]="myControl" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="filterByVo($event)">
    <mat-option value="all">{{'GROUPS.ALL' | translate}}</mat-option>
    <mat-option *ngFor="let vo of filteredVos | async" [value]="vo">
      {{vo.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>

<div *ngIf="!loading && userMemberships.length !== 0">
  <h1 class="page-subtitle">{{'SHARED_LIB.PERUN.GROUPS.MEMBER_GROUPS' | translate}}</h1>
  <button mat-flat-button color="accent" (click)="extendMembership()"
          [disabled]="selection.selected.length === 0">{{'EXTEND' | translate}}</button>
  <app-membership-list [members]="userMemberships"
                       [selection]="selection"></app-membership-list>
</div>

<div *ngIf="!loading && adminMemberships.length !== 0" class="mt-5">
  <h1 class="page-subtitle">{{'SHARED_LIB.PERUN.GROUPS.ADMINS_GROUPS' | translate}}</h1>
  <app-membership-list [members]="adminMemberships"
                       [hideColumns]="['checkbox', 'expiration']"></app-membership-list>
</div>
