<div class="side-menu-width">
  <app-side-menu-item [item]="homeItem" [root]="true"></app-side-menu-item>

  <app-side-menu-item
    [item]="accessItem"
    [root]="true"
    data-cy="access-item-button"></app-side-menu-item>
  @for (item of accessItems; track item; let i = $index) {
    <div @rollInOut class="overflow-hidden">
      <app-side-menu-item [item]="item" [showLinks]="i === accessItems.length - 1">
      </app-side-menu-item>
    </div>
  }

  @if (authResolver.canManageFacilities()) {
    <app-side-menu-item [item]="facilityItem" [root]="true" data-cy="facilities-button">
    </app-side-menu-item>
  }
  @for (item of facilityItems; track item; let i = $index) {
    <div @rollInOut class="overflow-hidden">
      <app-side-menu-item [item]="item" [showLinks]="i === facilityItems.length - 1">
      </app-side-menu-item>
    </div>
  }

  <app-side-menu-item [item]="userItem" [root]="true" (click)="redirectToProfile()">
  </app-side-menu-item>

  @if (authResolver.isPerunAdminOrObserver()) {
    <app-side-menu-item
      [item]="adminItem"
      [showLinks]="adminItemOpened"
      [root]="true"
      data-cy="admin-button">
    </app-side-menu-item>
  }
  @for (item of adminItems; track item; let i = $index) {
    <div @rollInOut class="overflow-hidden">
      <app-side-menu-item [item]="item" [showLinks]="true"> </app-side-menu-item>
    </div>
  }

  @if (authResolver.getHasServiceIdentities()) {
    <app-side-menu-item [item]="serviceIdentitiesItem" [root]="true"> </app-side-menu-item>
  }

  @for (item of serviceIdentitiesItems; track item; let i = $index) {
    <div @rollInOut class="overflow-hidden">
      <app-side-menu-item [item]="item" [showLinks]="i === serviceIdentitiesItems.length - 1">
      </app-side-menu-item>
    </div>
  }

  <app-side-menu-item [item]="settingsItem" [showLinks]="settingsItemOpened" [root]="true">
  </app-side-menu-item>
  @for (item of settingsItems; track item; let i = $index) {
    <div @rollInOut class="overflow-hidden">
      <app-side-menu-item [item]="item" [showLinks]="i === settingsItems.length - 1">
      </app-side-menu-item>
    </div>
  }
</div>
