<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{data.theme}} position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{'DIALOGS.BULK_INVITE_MEMBERS.TITLE' | translate}}</h1>
    <div class="dialog-container" mat-dialog-content>
      @if (state === 'input') {
        <div>
          @if (!data.groupId) {
            <div class="font-italic">
              {{'DIALOGS.BULK_INVITE_MEMBERS.DESCRIPTION_VO' | translate}}
            </div>
          }
          @if (data.groupId) {
            <div class="font-italic">
              {{'DIALOGS.BULK_INVITE_MEMBERS.DESCRIPTION_GROUP' | translate}}
            </div>
          }
          <mat-form-field class="w-100 pt-2">
            <mat-label>{{'DIALOGS.BULK_INVITE_MEMBERS.LANGUAGE' | translate}}</mat-label>
            <mat-select [(value)]="currentLanguage">
              @for (lang of languages; track lang) {
                <mat-option value="{{lang}}">
                  {{'SHARED_LIB.LANGUAGES.'+lang | uppercase | translate}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <p [innerHTML]="'DIALOGS.BULK_INVITE_MEMBERS.HINT' | translate"></p>
          <mat-form-field class="pt-2 flex-container">
            <mat-label>{{'DIALOGS.BULK_INVITE_MEMBERS.INSERT_HERE'| translate}}</mat-label>
            <textarea
              cols="50"
              class="md-textarea form-control"
              [formControl]="invitedMembers"
              required
              matInput
              placeholder="{{'DIALOGS.BULK_INVITE_MEMBERS.PLACEHOLDER' | translate}}"
              rows="8">
            </textarea>
            @if (invitedMembers.hasError('required')) {
              <mat-error>
                {{'DIALOGS.BULK_INVITE_MEMBERS.NAMES_ERROR' | translate}}
              </mat-error>
            }
            @if (invitedMembers.hasError('invalidFormat')) {
              <mat-error>
                {{'DIALOGS.BULK_INVITE_MEMBERS.ERROR_FORMAT'| translate}}:
                {{invitedMembers.getError('invalidFormat').value}}
              </mat-error>
            }
            @if (invitedMembers.hasError('invalidEmail')) {
              <mat-error>
                {{'DIALOGS.BULK_INVITE_MEMBERS.ERROR_EMAIL'| translate}}:
                {{invitedMembers.getError('invalidEmail').value}}
              </mat-error>
            }
          </mat-form-field>
        </div>
      }
    </div>
    @if (state === 'results') {
      <div>
        @if (!this.finishedWithErrors) {
          <perun-web-apps-alert [alert_type]="'success'">
            {{'DIALOGS.BULK_INVITE_MEMBERS.SUCCESS' | translate}}
          </perun-web-apps-alert>
        }
        @if (this.finishedWithErrors) {
          <perun-web-apps-alert [alert_type]="'warn'">
            {{'DIALOGS.BULK_INVITE_MEMBERS.FINISHED_WITH_ERRORS' | translate}}
          </perun-web-apps-alert>
        }
      </div>
    }
    <div mat-dialog-actions>
      <button (click)="onCancel()" class="ms-auto" mat-stroked-button>
        {{'DIALOGS.BULK_INVITE_MEMBERS.CANCEL' | translate}}
      </button>
      @if (state === 'input') {
        <button
          (click)="onSubmit()"
          class="ms-2"
          color="accent"
          [disabled]="loading || invitedMembers.invalid"
          mat-flat-button>
          {{'DIALOGS.BULK_INVITE_MEMBERS.INVITE' | translate}}
        </button>
      }
      @if (state === 'results') {
        <button
          [disabled]="!resultData"
          (click)="downloadCsv()"
          class="ms-2"
          color="accent"
          mat-flat-button>
          {{'DIALOGS.BULK_INVITE_MEMBERS.DOWNLOAD_CSV' | translate}}
        </button>
      }
    </div>
  </div>
</div>
