#content-wrap {
  padding-left: 25px;
  padding-top: 10px;
  @media (max-width: 768px) {
    padding-bottom: 500px;
  };
  min-height: 75vh;
}

#content-inner {
  margin: 10px;
  position: relative;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: black;
}

.custom-breadcrumb {
  display: inline-block;
}

.custom-breadcrumb:first-child:before {
  display: none;
}

.custom-breadcrumb:before {
  content: '>';
  vertical-align: center;
  display: inline-block;
  margin: 0 10px 10px 8px;
  -webkit-font-smoothing: antialiased;
}

.side-menu-size {
  width: 200px;
  height: auto;
}
