<div
  *ngIf="displayWarning"
  class="beta-warning text-truncate"
  matTooltipPosition="below"
  matTooltip="{{ warningMessage }}">
  <mat-icon>alert</mat-icon>
  {{ warningMessage }}
</div>
<ng-template [ngIf]="!isLoginScreenShown && !isServiceAccess && isLoggedIn()">
  <perun-web-apps-notificator [displayWarning]="displayWarning"></perun-web-apps-notificator>
  <div class="app-min-width">
    <perun-web-apps-header
      (sidenavToggle)="sidenav.toggle()"
      [ngStyle]="{'top': getNavMenuTop()}"
      [otherApp]="otherApp"
      class="nav-menu mat-elevation-z3"></perun-web-apps-header>
    <mat-sidenav-container
      autosize="true"
      [ngStyle]="{'margin-top': getSideNavMarginTop(),'min-height': getSideNavMinHeight()}">
      <mat-sidenav
        #sidenav
        [mode]="sidebarMode"
        [fixedTopGap]="getTopGap()"
        [ngStyle]="{'background': sideMenuBgColor}"
        [opened]="!isMobile()"
        class="side-menu-size"
        fixedInViewport>
        <perun-web-apps-side-menu
          [sideNav]="sidenav"
          class="overflow-hidden"></perun-web-apps-side-menu>
      </mat-sidenav>
      <mat-sidenav-content [ngStyle]="{'background': contentBackgroundColor}" id="content-inner">
        <div [ngStyle]="{'min-height': contentHeight}" id="content-wrap">
          <perun-web-apps-breadcrumbs></perun-web-apps-breadcrumbs>
          <router-outlet></router-outlet>
        </div>

        <div #footer>
          <perun-web-apps-footer></perun-web-apps-footer>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</ng-template>
<perun-web-apps-login-screen-base
  *ngIf="isLoginScreenShown || isServiceAccess || !isLoggedIn()"
  [application]="'user-profile'"
  [displayWarning]="displayWarning"
  [headerTitle]="headerLabel">
</perun-web-apps-login-screen-base>
