#content-inner {
  position: relative;
}

#content-wrap {
  @media (min-width: 600px) {
    padding-left: 35px;
    padding-right: 35px;
  }
  padding: 20px 10px 35px;
}

.beta-warning {
  overflow: hidden;
  height: 48px;
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: rgb(255, 191, 197);
  width: 100%;
  color: #d32f2f;
  text-align: center;
  font-weight: 500;
  padding: 6px;
  line-height: 36px;
  font-size: 1rem;
}

.nav-menu {
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  height: 64px;
  max-height: 64px;
}

a {
  text-decoration: none;
  color: black;
}

.side-menu-size {
  width: 300px;
  height: auto;
}
