<app-add-ban-dialog
  [disabled]="(loading$ | async) || selection.selected.length === 0"
  [theme]="data.theme"
  [ban]="ban"
  (add)="submitBan($event)"
  (cancelled)="cancel()">
  <perun-web-apps-debounce-filter
    (filter)="setFilter($event)"
    [placeholder]="'DIALOGS.ADD_BAN.FILTER'"></perun-web-apps-debounce-filter>
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>
  <div class="position-relative table-min-height">
    <perun-web-apps-users-list
      *perunWebAppsLoader="loading$ | async; indicator: spinner"
      [loading]="loading$ | async"
      (queryChanged)="nextPage.next($event)"
      (downloadAll)="downloadAll($event)"
      [disableRouting]="true"
      [users]="usersPage$ | async"
      [displayColumns]="displayedColumns"
      [sortableColumns]="['id', 'name']"
      [selection]="selection"
      [filter]="searchString"
      [facilityId]="data.entityId"
      [tableId]="tableId" />
  </div>
</app-add-ban-dialog>
