<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{data.theme}}">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{ data.title | translate }}</h1>
    <div mat-dialog-content>
      @if (data.action==='RESEND') {
        <div>
          @if (!loading && displayedMailTypes.length === 0) {
            <perun-web-apps-alert alert_type="warn">
              {{'DIALOGS.RE_SEND_NOTIFICATION.EMPTY_TYPES_ALERT' | translate}}
            </perun-web-apps-alert>
          }
          {{'DIALOGS.RE_SEND_NOTIFICATION.SELECT' | translate}}:
          <mat-form-field class="w-100">
            <mat-select [(value)]="mailType" disableOptionCentering>
              @for (mailType of displayedMailTypes; track mailType) {
                <mat-option [value]="mailType">
                  {{('DIALOGS.RE_SEND_NOTIFICATION.NOTIFICATION_TYPE.' + mailType) | translate}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          @if (mailType === 'APP_REJECTED_USER') {
            <div>
              {{'DIALOGS.RE_SEND_NOTIFICATION.REASON' | translate}}:
              <mat-form-field class="w-100">
                <textarea [(ngModel)]="reason" matInput></textarea>
              </mat-form-field>
            </div>
          }
        </div>
      }

      <perun-web-apps-alert alert_type="warn">
        {{ data.description | translate: {count: data.selectedApplications.length} }}
      </perun-web-apps-alert>

      <perun-web-apps-applications-list
        [displayColumns]="data.displayedColumns"
        [fedColumnsFriendly]="data.fedColumnsFriendly"
        [fedAttrs]="data.fedAttrs"
        [applications]="data.selectedApplications"
        [disableRouting]="true">
      </perun-web-apps-applications-list>
    </div>
    <div mat-dialog-actions>
      <button class="ms-auto me-2" mat-stroked-button (click)="onCancel()">
        {{'VO_DETAIL.APPLICATION.DIALOG.CANCEL' | translate}}
      </button>
      @if (data.action !== 'RESEND') {
        <button color="accent" class="me-2" mat-flat-button (click)="onConfirm()">
          {{data.confirmButtonLabel | translate}}
        </button>
      }
      @if (data.action === 'RESEND') {
        <span
          [matTooltip]="'DIALOGS.RE_SEND_NOTIFICATION.EMPTY_TYPES_TOOLTIP' | translate"
          [matTooltipDisabled]="loading ||  displayedMailTypes.length > 0">
          <span
            [matTooltip]="'DIALOGS.RE_SEND_NOTIFICATION.MISSING_TYPE_TOOLTIP' | translate"
            [matTooltipDisabled]="displayedMailTypes.length === 0 || (data.selectedApplications | appMatchMailType: appMails : mailType)">
            <button
              color="accent"
              class="me-2"
              mat-flat-button
              [disabled]="loading ||  displayedMailTypes.length === 0 || !(data.selectedApplications | appMatchMailType: appMails : mailType)"
              (click)="onConfirm()">
              {{data.confirmButtonLabel | translate}}
            </button>
          </span>
        </span>
      }
    </div>
  </div>
</div>
