<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{theme}}" *perunWebAppsLoader="loading; indicator: spinner">
  <h1 mat-dialog-title>{{'DIALOGS.APP_APPROVE_ANYWAY.TITLE' | translate}}</h1>
  <div mat-dialog-content>
    <div>
      {{'DIALOGS.APP_APPROVE_ANYWAY.TEXT' | translate}}
    </div>
    <perun-web-apps-alert alert_type="warn">
      @if (err.reason === 'NOT_ELIGIBLE') {
        <div>
          <div>
            {{'DIALOGS.APP_APPROVE_ANYWAY.NOT_ELIGIBLE' | translate}}
          </div>
        </div>
      } @else if (err.reason === 'NOT_ELIGIBLE_EINFRACZ') {
        <div>
          <div>
            {{'DIALOGS.APP_APPROVE_ANYWAY.NOT_ELIGIBLE_EINFRACZ' | translate}}
          </div>
        </div>
      } @else {
        <div>
          <div>
            {{err.message}}
          </div>
        </div>
      }
    </perun-web-apps-alert>
    @if (err.soft) {
      <div>
        {{'DIALOGS.APP_APPROVE_ANYWAY.APPROVE_ANYWAY' | translate}}
      </div>
    }
  </div>
  <div mat-dialog-actions>
    <button mat-stroked-button class="ms-auto" (click)="onCancel()">
      {{'DIALOGS.APP_APPROVE_ANYWAY.CANCEL' | translate}}
    </button>
    @if (err.soft) {
      <button mat-flat-button class="ms-2" color="accent" (click)="onSubmit()">
        {{'DIALOGS.APP_APPROVE_ANYWAY.SUBMIT' | translate}}
      </button>
    }
  </div>
</div>
