<div>
  <h1 class="page-subtitle">{{ 'SERVICE_DETAIL.DESTINATIONS.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"> </perun-web-apps-refresh-button>
  @if (authResolver.isPerunAdmin()) {
    <button
      (click)="onRemove()"
      color="warn"
      [disabled]="loading || selection.selected.length === 0"
      class="me-2"
      mat-flat-button>
      {{ 'SERVICE_DETAIL.DESTINATIONS.REMOVE' | translate}}
    </button>
  }
  @if (authResolver.isPerunAdmin()) {
    <button
      (click)="onAllow()"
      [disabled]="loading || selection.selected.length === 0"
      class="me-2"
      color="accent"
      mat-flat-button>
      {{ 'SERVICE_DETAIL.DESTINATIONS.ALLOW' | translate}}
    </button>
  }
  @if (authResolver.isPerunAdmin()) {
    <button
      (click)="onBlock()"
      [disabled]="loading || selection.selected.length === 0"
      class="me-2"
      color="warn"
      mat-flat-button>
      {{ 'SERVICE_DETAIL.DESTINATIONS.BLOCK' | translate}}
    </button>
  }
  <perun-web-apps-debounce-filter
    (filter)="applyFilter($event)"
    [placeholder]="'SERVICE_DETAIL.DESTINATIONS.FILTER'">
  </perun-web-apps-debounce-filter>
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>
  <div class="position-relative table-min-height">
    <app-perun-web-apps-destination-list
      *perunWebAppsLoader="loading; indicator: spinner"
      [loading]="loading"
      [destinations]="destinations"
      [filterValue]="filterValue"
      [selection]="selection"
      [cachedSubject]="cachedSubject"
      [displayedColumns]="['select', 'destinationId', 'facility', 'destination', 'type', 'status', 'propagationType']"
      [tableId]="tableId">
    </app-perun-web-apps-destination-list>
  </div>
</div>
