<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{theme}} position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{'DIALOGS.INVITE_MEMBER.TITLE' | translate}}</h1>
    <div mat-dialog-content>
      @if (!data.groupId) {
        <div class="font-italic">
          {{'DIALOGS.INVITE_MEMBER.DESCRIPTION_VO' | translate}}
        </div>
      }
      @if (data.groupId) {
        <div class="font-italic">
          {{'DIALOGS.INVITE_MEMBER.DESCRIPTION_GROUP' | translate}}
        </div>
      }

      <mat-form-field class="w-100">
        <mat-label>{{'DIALOGS.INVITE_MEMBER.NAME' | translate}}</mat-label>
        <input matInput [formControl]="name" required />
        @if (name.invalid) {
          <mat-error>
            {{'DIALOGS.INVITE_MEMBER.NAME_ERROR' | translate}}
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>{{'DIALOGS.INVITE_MEMBER.EMAIL' | translate}}</mat-label>
        <textarea matInput [formControl]="emailForm" required></textarea>
        @if (emailForm.invalid) {
          <mat-error>
            {{'DIALOGS.INVITE_MEMBER.EMAIL_ERROR' | translate}}
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>{{'DIALOGS.INVITE_MEMBER.LANGUAGE' | translate}}</mat-label>
        <mat-select [(value)]="currentLanguage">
          @for (lang of languages; track lang) {
            <mat-option
              value="{{lang}}"
              >{{'SHARED_LIB.LANGUAGES.'+lang | uppercase | translate}}</mat-option
            >
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button (click)="onCancel()" class="ms-auto" mat-stroked-button>
        {{'DIALOGS.INVITE_MEMBER.CANCEL' | translate}}
      </button>
      <button
        (click)="onSubmit()"
        class="ms-2"
        color="accent"
        [disabled]="emailForm.invalid || name.invalid || loading"
        mat-flat-button>
        {{'DIALOGS.INVITE_MEMBER.INVITE' | translate}}
      </button>
    </div>
  </div>
</div>
