<div class="vo-theme">
  <h1 class="page-subtitle">{{'VO_DETAIL.MEMBERS.TITLE' | translate}}</h1>
  <div class="align-elements">
    <perun-web-apps-refresh-button (click)="refreshTable()"></perun-web-apps-refresh-button>
    <div
      [matTooltipDisabled]="!blockManualMemberAdding"
      matTooltip="{{'VO_DETAIL.MEMBERS.ADD_MEMBER_DISABLED' | translate}}">
      @if (addAuth) {
        <button
          [disabled]="blockManualMemberAdding"
          (click)="onAddMember()"
          color="accent"
          class="me-2 action-button"
          data-cy="add-members"
          mat-flat-button>
          {{'VO_DETAIL.MEMBERS.ADD_MEMBER' | translate}}
        </button>
      }
    </div>
    <span
      [matTooltipDisabled]="!inviteDisabled"
      [matTooltipPosition]="'above'"
      matTooltip="{{'VO_DETAIL.MEMBERS.INVITE_DISABLED' | translate}}">
      @if (inviteAuth) {
        <button
          [disabled]="blockManualMemberAdding || inviteDisabled"
          [matMenuTriggerFor]="menu"
          class="me-2 dropdown-toggle"
          color="accent"
          mat-flat-button>
          {{'VO_DETAIL.MEMBERS.INVITE' | translate}}
        </button>
      }
      <mat-menu #menu="matMenu">
        @if (inviteAuth) {
          <button (click)="onInviteMember()" class="action-button" mat-menu-item>
            {{'VO_DETAIL.MEMBERS.INVITE_ONE' | translate}}
          </button>
        }
        @if (inviteAuth) {
          <button (click)="onBulkInvite()" class="action-button" mat-menu-item>
            {{'VO_DETAIL.MEMBERS.INVITE_BULK' | translate}}
          </button>
        }
      </mat-menu>
    </span>
    <span
      [matTooltipDisabled]="!copyInvitationDisabled"
      [matTooltipPosition]="'above'"
      matTooltip="{{'VO_DETAIL.MEMBERS.COPY_INVITATION_LINK_DISABLED' | translate}}">
      @if (copyInviteLinkAuth) {
        <button
          (click)="copyInvitationLink()"
          [disabled]="copyInvitationDisabled"
          class="me-2"
          mat-stroked-button>
          <mat-icon>file_copy</mat-icon>
          <span class="ms-1">
            {{'VO_DETAIL.MEMBERS.COPY_INVITATION_LINK' | translate}}
          </span>
        </button>
      }
    </span>
    @if (removeAuth) {
      <button
        (click)="onRemoveMembers()"
        color="warn"
        [disabled]="(loading$ | async) || selection.isEmpty()"
        data-cy="remove-members"
        class="me-2"
        mat-flat-button>
        {{'VO_DETAIL.MEMBERS.REMOVE_MEMBERS' | translate}}
      </button>
    }

    <mat-form-field class="me-2 fix-select">
      <mat-label>{{'VO_DETAIL.MEMBERS.FILTER_STATUS' | translate}}</mat-label>
      <mat-select (closed)="changeStatuses()" [formControl]="statuses" multiple>
        <mat-select-trigger>
          {{displaySelectedStatuses() | memberStatus}}
        </mat-select-trigger>
        @for (status of statusList; track status) {
          <mat-option class="vo-theme" [value]="status">{{status | memberStatus}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <perun-web-apps-debounce-filter
      (filter)="onSearchByString($event)"
      [placeholder]="'VO_DETAIL.MEMBERS.SEARCH_DESCRIPTION'"
      class="mt-2 search-field">
    </perun-web-apps-debounce-filter>
  </div>
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>
  <div class="position-relative table-min-height">
    <perun-web-apps-members-list
      *perunWebAppsLoader="loading$ | async; indicator: spinner"
      [loading]="loading$ | async"
      (queryChanged)="nextPage.next($event)"
      (refreshTable)="refreshTable()"
      (downloadAll)="downloadAll($event)"
      [displayedColumns]="displayedColumns"
      [disableRouting]="!routeAuth"
      [members]="membersPage$ | async"
      [selection]="selection"
      [filter]="searchString"
      [tableId]="tableId"
      [voId]="vo.id"
      [cacheSubject]="cacheSubject"
      [resetPagination]="resetPagination" />
  </div>
</div>
