<div class="login-nav">
  <div class="header-container" [ngStyle]="{'background': bgColor}">
    <div [innerHTML]="logo" class="router-icon-scale"></div>
    <mat-icon svgIcon="perun-publications-white" class="mt-auto mb-auto router-icon ml-2 mr-4"></mat-icon>
    <p [ngStyle]="{'color': textColor}" class="mt-auto mb-auto page-subtitle">{{'HEADER.TITLE' | translate}}</p>
  </div>

</div>

<div id="content-inner">
  <div [ngStyle]="{'min-height': getContentHeight()}" id="content-wrap">
    <perun-web-apps-login-screen></perun-web-apps-login-screen>
  </div>

  <div id="footer">
    <perun-web-apps-footer></perun-web-apps-footer>
  </div>

</div>

