<h1 class="page-subtitle">
  {{'RESOURCE_DETAIL.SETTINGS.BANS.TITLE' | translate}}
</h1>

<perun-web-apps-refresh-button (click)="refresh()"></perun-web-apps-refresh-button>
@if (addAuth) {
  <button (click)="add()" class="me-2 action-button" color="accent" mat-flat-button>
    {{'RESOURCE_DETAIL.SETTINGS.BANS.ADD' | translate}}
  </button>
}
@if (removeAuth) {
  <button
    (click)="remove()"
    color="warn"
    [disabled]="loading || selection.selected.length === 0"
    class="me-2"
    mat-flat-button>
    {{'RESOURCE_DETAIL.SETTINGS.BANS.REMOVE' | translate}}
  </button>
}
<perun-web-apps-debounce-filter
  (filter)="applyFilter($event)"
  [placeholder]="'RESOURCE_DETAIL.SETTINGS.BANS.FILTER'"
  class="mt-2 search-field">
</perun-web-apps-debounce-filter>
<div class="position-relative table-min-height">
  <perun-web-apps-ban-on-entity-list
    *perunWebAppsLoader="loading; indicator: spinner"
    [loading]="loading"
    [bans]="bans"
    [selection]="selection"
    [cachedSubject]="cachedSubject"
    [displayedColumns]="displayedColumns"
    [filter]="filter"
    [updatePolicy]="'updateBan_BanOnResource_policy'"
    (updateBan)="update($event)">
  </perun-web-apps-ban-on-entity-list>
</div>
<ng-template #spinner>
  <perun-web-apps-loading-table></perun-web-apps-loading-table>
</ng-template>
