<div [formGroup]="formGroup" class="display-flex">
  <mat-form-field>
    <mat-label>{{'SHARED.COMPONENTS.LOGIN_FOR_NAMESPACE.NAMESPACE' | translate}}</mat-label>
    <mat-select (valueChange)="onNamespaceChanged($event)" formControlName="namespaceCtrl">
      @for (namespace of namespaceOptions; track namespace) {
        <mat-option [value]="namespace">
          {{namespace}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field [floatLabel]="formGroup.get('loginCtrl').disabled ? 'always' : null">
    <mat-label>{{'SHARED.COMPONENTS.LOGIN_FOR_NAMESPACE.LOGIN' | translate}}</mat-label>
    <input
      formControlName="loginCtrl"
      matInput
      [hidden]="formGroup.get('loginCtrl').disabled"
      required />
    @if (formGroup.get('loginCtrl').hasError('required')) {
      <mat-error>{{'SHARED.COMPONENTS.LOGIN_FOR_NAMESPACE.FIELD_EMPTY' | translate}}</mat-error>
    }
    @if (formGroup.get('loginCtrl').hasError('loginExists')) {
      <mat-error>{{'SHARED.COMPONENTS.LOGIN_FOR_NAMESPACE.LOGIN_EXISTS' | translate}}</mat-error>
    }
    @if (
      formGroup.get('loginCtrl').hasError('pattern')
          && !formGroup.get('loginCtrl').hasError('minlength')
    ) {
      <mat-error>{{'SHARED.COMPONENTS.LOGIN_FOR_NAMESPACE.LOGIN_FORMAT' | translate}}</mat-error>
    }
    @if (formGroup.get('loginCtrl').hasError('maxlength')) {
      <mat-error>{{'SHARED.COMPONENTS.LOGIN_FOR_NAMESPACE.LOGIN_LONG' | translate}}</mat-error>
    }
    @if (formGroup.get('loginCtrl').hasError('minlength')) {
      <mat-error>{{'SHARED.COMPONENTS.LOGIN_FOR_NAMESPACE.LOGIN_SHORT' | translate}}</mat-error>
    }
    @if (formGroup.get('loginCtrl').disabled) {
      <span class="input-disabled">
        {{(formGroup.get('namespaceCtrl').value === 'Not selected' ? 'SHARED.COMPONENTS.LOGIN_FOR_NAMESPACE.LOGIN_DISABLED' : 'SHARED.COMPONENTS.LOGIN_FOR_NAMESPACE.LOGIN_DISABLED_FOR_NAMESPACE') | translate}}
      </span>
    }
  </mat-form-field>
</div>
