<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{'DIALOGS.ADD_USER_EXT_SOURCE.TITLE'|translate}}</h1>
    <div class="dialog-container user-theme" mat-dialog-content>
      <mat-form-field class="center-self w-100">
        <mat-label>{{'DIALOGS.ADD_USER_EXT_SOURCE.LOGIN' | translate}}</mat-label>
        <input [formControl]="loginControl" matInput required />
        <mat-error>
          {{'DIALOGS.ADD_USER_EXT_SOURCE.EMPTY_LOGIN' | translate}}
        </mat-error>
      </mat-form-field>
      <perun-web-apps-ext-source-search-select
        [extSources]="extSources"
        (extSourceSelected)="this.selectedExtSource=$event">
      </perun-web-apps-ext-source-search-select>
    </div>
    <div mat-dialog-actions>
      <button (click)="onCancel()" class="ms-auto" mat-stroked-button>
        {{'DIALOGS.ADD_USER_EXT_SOURCE.CANCEL'|translate}}
      </button>
      <button
        (click)="onAdd()"
        [disabled]="loginControl.invalid || selectedExtSource === null || loading"
        class="ms-2"
        color="accent"
        mat-flat-button>
        {{'DIALOGS.ADD_USER_EXT_SOURCE.ADD'|translate}}
      </button>
    </div>
  </div>
</div>
