<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="admin-theme position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{'DIALOGS.CREATE_ATTRIBUTE_DEFINITION.TITLE' | translate}}</h1>
    <div mat-dialog-content>
      <form [formGroup]="attributeControl" class="dialog-container">
        <mat-form-field>
          <mat-label>{{'DIALOGS.CREATE_ATTRIBUTE_DEFINITION.FRIENDLY_NAME' | translate}}</mat-label>
          <input
            matInput
            formControlName="friendlyName"
            data-cy="attribute-friendly-name-input"
            required />
          @if (attributeControl.hasError('spaceName', 'friendlyName')) {
            <mat-error>
              {{'DIALOGS.NAME_SPACE_ERROR' | translate}}
            </mat-error>
          }
          @if (attributeControl.hasError('required', 'friendlyName')) {
            <mat-error>
              {{'DIALOGS.CREATE_ATTRIBUTE_DEFINITION.ERROR_FIELD_EMPTY' | translate}}
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'DIALOGS.CREATE_ATTRIBUTE_DEFINITION.DISPLAY_NAME' | translate}}</mat-label>
          <input
            matInput
            formControlName="displayName"
            data-cy="attribute-display-name-input"
            required />
          @if (attributeControl.hasError('spaceName', 'displayName')) {
            <mat-error>
              {{'DIALOGS.NAME_SPACE_ERROR' | translate}}
            </mat-error>
          }
          @if (attributeControl.hasError('required', 'displayName')) {
            <mat-error>
              {{'DIALOGS.CREATE_ATTRIBUTE_DEFINITION.ERROR_FIELD_EMPTY' | translate}}
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'DIALOGS.CREATE_ATTRIBUTE_DEFINITION.DESCRIPTION' | translate}}</mat-label>
          <textarea
            matInput
            formControlName="description"
            cdkTextareaAutosize
            data-cy="attribute-description-input"
            required>
          </textarea>
          @if (attributeControl.hasError('required', 'description')) {
            <mat-error>
              {{'DIALOGS.CREATE_ATTRIBUTE_DEFINITION.ERROR_FIELD_EMPTY' | translate}}
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'DIALOGS.CREATE_ATTRIBUTE_DEFINITION.ENTITY' | translate}}</mat-label>
          <mat-select formControlName="entity" data-cy="attribute-entity-input" required>
            @for (entity of entities; track entity) {
              <mat-option [value]="entity">{{entity}}</mat-option>
            }
          </mat-select>
          @if (attributeControl.hasError('required', 'entity')) {
            <mat-error>
              {{'DIALOGS.CREATE_ATTRIBUTE_DEFINITION.ERROR_FIELD_EMPTY' | translate}}
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'DIALOGS.CREATE_ATTRIBUTE_DEFINITION.DEFINITION' | translate}}</mat-label>
          <mat-select
            formControlName="definitionType"
            data-cy="attribute-definition-type-input"
            required>
            @for (defType of definitionTypes; track defType) {
              <mat-option [value]="defType">{{defType}} </mat-option>
            }
          </mat-select>
          @if (attributeControl.hasError('required', 'definitionType')) {
            <mat-error>
              {{'DIALOGS.CREATE_ATTRIBUTE_DEFINITION.ERROR_FIELD_EMPTY' | translate}}
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'DIALOGS.CREATE_ATTRIBUTE_DEFINITION.VALUE_TYPE' | translate}}</mat-label>
          <mat-select formControlName="valueType" data-cy="attribute-value-type-input" required>
            @for (valType of valueTypes; track valType) {
              <mat-option [value]="valType">
                {{valType | attributeTypeClean}}
              </mat-option>
            }
          </mat-select>
          @if (attributeControl.hasError('required', 'valueType')) {
            <mat-error>
              {{'DIALOGS.CREATE_ATTRIBUTE_DEFINITION.ERROR_FIELD_EMPTY' | translate}}
            </mat-error>
          }
        </mat-form-field>
      </form>

      <perun-web-apps-attribute-unique-checkbox [attDef]="attDef | async">
      </perun-web-apps-attribute-unique-checkbox>

      <perun-web-apps-attribute-critical-operations-checkboxes
        [attDef]="attDef"
        (readOperationChanged)="finalReadOperations=$event"
        (readGlobalChanged)="finalReadGlobal=$event"
        (writeOperationChanged)="finalWriteOperations=$event"
        (writeGlobalChanged)="finalWriteGlobal=$event">
      </perun-web-apps-attribute-critical-operations-checkboxes>

      <perun-web-apps-attribute-rights-tab-group [collections]="collections">
      </perun-web-apps-attribute-rights-tab-group>
    </div>
    <div mat-dialog-actions>
      <button (click)="cancel()" class="ms-auto" mat-stroked-button>
        {{'DIALOGS.CREATE_ATTRIBUTE_DEFINITION.CANCEL' | translate}}
      </button>
      <button
        class="ms-2"
        color="accent"
        (click)="submit()"
        [disabled]="loading || attributeControl.invalid"
        data-cy="create-attr-definition-button"
        mat-flat-button>
        {{'DIALOGS.CREATE_ATTRIBUTE_DEFINITION.CONFIRM' | translate}}
      </button>
    </div>
  </div>
</div>
