<div class="'user-theme'">
  @if (!publication.locked && !similarityCheck) {
    <button mat-flat-button color="accent" class="me-2 action-button" (click)="onAddThanks()">
      {{'PUBLICATION_DETAIL.ADD' | translate}}
    </button>
  }
  @if (!publication.locked && !similarityCheck) {
    <button
      mat-flat-button
      color="warn"
      class="me-2"
      [disabled]="selection.selected.length === 0 || loading"
      (click)="onRemoveThanks()">
      {{'PUBLICATION_DETAIL.REMOVE' | translate}}
    </button>
  }
  <perun-web-apps-debounce-filter
    (filter)="applyFilter($event)"
    [placeholder]="'PUBLICATION_DETAIL.FILTER'"></perun-web-apps-debounce-filter>
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>
  <div class="position-relative table-min-height">
    <perun-web-apps-thanks-list
      *perunWebAppsLoader="loading; indicator: spinner"
      [loading]="loading"
      [thanks]="publication.thanks"
      [filterValue]="filterValue"
      [tableId]="tableId"
      [displayColumns]="publication.locked ? ['id', 'name', 'createdBy'] : ['select', 'id', 'name', 'createdBy']"
      [selection]="selection"
      [cachedSubject]="cachedSubject">
    </perun-web-apps-thanks-list>
  </div>
</div>
