<div [ngStyle]="{'background': '#ff42ff'}">
  <div>
    <mat-nav-list>
      <mat-list-item disableRipple routerLink="/profile">
        <mat-icon>account_box</mat-icon>
        <span class="nav-caption">Profile</span>
      </mat-list-item>
      <mat-list-item disableRipple routerLink="/identities">
        <mat-icon>remove_red_eye</mat-icon>
        <span class="nav-caption">Identities</span>
      </mat-list-item>
      <mat-list-item disableRipple routerLink="/groups">
        <mat-icon>group</mat-icon>
        <span class="nav-caption">Groups</span>
      </mat-list-item>
      <mat-list-item disableRipple routerLink="/services">
        <mat-icon>build</mat-icon>
        <span class="nav-caption">Services</span>
      </mat-list-item>
      <mat-list-item disableRipple routerLink="/organizations">
        <mat-icon>account_balance</mat-icon>
        <span class="nav-caption">Organizations</span>
      </mat-list-item>
      <mat-list-item disableRipple routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span class="nav-caption">Settings</span>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
