<div id="sideMenuSpacer" [ngStyle]="{'background': '#ff42ff'}">
  <div class="accordion entity-menu-accordion" id="sideMenuAccordion">
    <app-side-menu-root-item
      [item]="profileItem">
    </app-side-menu-root-item>

    <app-side-menu-root-item
      [item]="identitiesItem">
    </app-side-menu-root-item>

    <app-side-menu-root-item
      [item]="servicesItem">
    </app-side-menu-root-item>

    <app-side-menu-root-item
      [item]="groupsItem">
    </app-side-menu-root-item>

    <app-side-menu-root-item
      [item]="vosItem">
    </app-side-menu-root-item>

    <app-side-menu-root-item
      [item]="settingsItem">
    </app-side-menu-root-item>
  </div>
</div>
