<footer [ngStyle]="{'background': bgColor}" style="padding-top: 10px">
  <div fxLayout="row" fxLayoutAlign="space-evenly none">
    <div fxLayout="column" fxLayoutAlign="none center" *ngFor="let item of items">
      <h3 [ngStyle]="{'color': headersTextColor}">
        {{item.title}}
      </h3>
      <div *ngIf="item.elements">
        <div *ngFor="let elem of item.elements">
          <a target="_blank" [href]="elem.link" [ngStyle]="{'color': linksTextColor}">{{elem.label}}</a>
        </div>
      </div>
    </div>
  </div>
  <div fxLayoutAlign="center">
    <a [ngStyle]="{'color': linksTextColor}">{{copyright}}</a>
  </div>
</footer>
