<div>
  <h1 class="page-subtitle">{{'FACILITY_DETAIL.HOSTS.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  @if (addAuth) {
    <button (click)="addHost()" color="accent" class="me-2 action-button" mat-flat-button>
      {{'FACILITY_DETAIL.HOSTS.ADD' | translate}}
    </button>
  }
  @if (removeAuth) {
    <button
      (click)="removeHost()"
      [disabled]="loading || selected.selected.length === 0"
      class="me-2"
      color="warn"
      mat-flat-button>
      {{'FACILITY_DETAIL.HOSTS.REMOVE' | translate}}
    </button>
  }
  <perun-web-apps-debounce-filter
    (filter)="applyFilter($event)"
    [placeholder]="'FACILITY_DETAIL.HOSTS.FILTER'"></perun-web-apps-debounce-filter>
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>
  <div class="position-relative table-min-height">
    <app-hosts-list
      [disableRouting]="!routeAuth || disableRouting"
      *perunWebAppsLoader="loading; indicator: spinner"
      [loading]="loading"
      [filterValue]="filterValue"
      [hosts]="hosts"
      [selection]="selected"
      [cachedSubject]="cachedSubject"
      [displayColumns]="displayedColumns"
      [facilityId]="facility.id">
    </app-hosts-list>
  </div>
</div>
