<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{theme}} position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    @if (!this.successfullyCreated) {
      <h1 mat-dialog-title>
        {{'DIALOGS.CREATE_SPONSORED_MEMBER.TITLE' | translate}}
      </h1>
    }

    @if (!successfullyCreated) {
      <div class="dialog-container" mat-dialog-content>
        @if (this.functionalityNotSupported) {
          <perun-web-apps-alert alert_type="error">
            {{'DIALOGS.CREATE_SPONSORED_MEMBER.FUNCTIONALITY_NOT_SUPPORTED' | translate}}
          </perun-web-apps-alert>
        }
        @if (namespaceRules.length !== 0) {
          <mat-stepper #stepper [linear]="true">
            <mat-step [stepControl]="userControl">
              <ng-template
                matStepLabel
                >{{'DIALOGS.CREATE_SPONSORED_MEMBER.USER_LABEL' | translate}}</ng-template
              >
              <form [formGroup]="userControl" class="dialog-container">
                <h5 class="mt-2">
                  {{'DIALOGS.CREATE_SPONSORED_MEMBER.USER_TITLE' | translate}}
                </h5>
                <mat-form-field class="mt-4">
                  <mat-label
                    >{{'DIALOGS.CREATE_SPONSORED_MEMBER.FIRST_NAME' | translate}}</mat-label
                  >
                  <input data-cy="first-name-input" matInput formControlName="firstName" required />
                  @if (userControl.hasError('required', 'firstName')) {
                    <mat-error>
                      {{'DIALOGS.CREATE_SPONSORED_MEMBER.LENGTH_ERROR' | translate}}
                    </mat-error>
                  }
                </mat-form-field>
                <mat-form-field>
                  <mat-label>{{'DIALOGS.CREATE_SPONSORED_MEMBER.LAST_NAME' | translate}}</mat-label>
                  <input data-cy="last-name-input" matInput formControlName="lastName" required />
                  @if (userControl.hasError('required', 'lastName')) {
                    <mat-error>
                      {{'DIALOGS.CREATE_SPONSORED_MEMBER.LENGTH_ERROR' | translate}}
                    </mat-error>
                  }
                </mat-form-field>
                <mat-form-field>
                  <mat-label
                    >{{'DIALOGS.CREATE_SPONSORED_MEMBER.TITLE_BEFORE' | translate}}</mat-label
                  >
                  <input matInput formControlName="titleBefore" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label
                    >{{'DIALOGS.CREATE_SPONSORED_MEMBER.TITLE_AFTER' | translate}}</mat-label
                  >
                  <input matInput formControlName="titleAfter" />
                </mat-form-field>
              </form>
            </mat-step>
            <mat-step [stepControl]="namespaceControl">
              <ng-template
                matStepLabel
                >{{'DIALOGS.CREATE_SPONSORED_MEMBER.NAMESPACE_LABEL' | translate}}</ng-template
              >
              <h5 class="mt-2">
                {{'DIALOGS.CREATE_SPONSORED_MEMBER.NAMESPACE_TITLE' | translate}}
              </h5>
              <form [formGroup]="namespaceControl" class="dialog-container mt-4">
                <mat-form-field data-cy="namespace-filter">
                  <mat-label>{{'DIALOGS.CREATE_SPONSORED_MEMBER.NAMESPACE' | translate}}</mat-label>
                  <mat-select
                    formControlName="namespace"
                    (valueChange)="onNamespaceChanged($event)"
                    required>
                    @for (namespc of namespaceOptions; track namespc) {
                      <mat-option [value]="namespc" attr.data-cy="{{namespc}}">
                        {{namespc}}
                      </mat-option>
                    }
                  </mat-select>
                  @if (namespaceControl.hasError('required', 'namespace')) {
                    <mat-error>
                      {{'DIALOGS.CREATE_SPONSORED_MEMBER.NAMESPACE_ERROR' | translate}}
                    </mat-error>
                  }
                </mat-form-field>
                <mat-form-field
                  matTooltip="{{(this.selectedNamespace === null ? 'DIALOGS.CREATE_SPONSORED_MEMBER.NO_NAMESPACE_SELECTED' : 'DIALOGS.CREATE_SPONSORED_MEMBER.LOGIN_DISABLED') | translate}}"
                  [matTooltipDisabled]="namespaceControl.get('login').enabled"
                  matTooltipPosition="left">
                  <mat-label>{{'DIALOGS.CREATE_SPONSORED_MEMBER.LOGIN' | translate}}</mat-label>
                  <input data-cy="login-input" matInput formControlName="login" required />
                  @if (namespaceControl.hasError('required', 'login')) {
                    <mat-error>
                      {{'DIALOGS.CREATE_SPONSORED_MEMBER.LENGTH_ERROR' | translate}}
                    </mat-error>
                  }
                </mat-form-field>
                <mat-form-field>
                  <mat-label>{{'DIALOGS.CREATE_SPONSORED_MEMBER.EMAIL' | translate}}</mat-label>
                  <input data-cy="email-input" matInput formControlName="email" required />
                  @if (
                    namespaceControl.hasError('required', 'email') ||
                        namespaceControl.hasError('pattern', 'email')
                  ) {
                    <mat-error>
                      {{'DIALOGS.CREATE_SPONSORED_MEMBER.EMAIL_ERROR' | translate}}
                    </mat-error>
                  }
                </mat-form-field>
                <span
                  matTooltip="{{(this.selectedNamespace === null ? 'DIALOGS.CREATE_SPONSORED_MEMBER.NO_NAMESPACE_SELECTED' : 'DIALOGS.CREATE_SPONSORED_MEMBER.PASSWORD_RESET_DISABLED') | translate}}"
                  [matTooltipDisabled]="namespaceControl.get('passwordReset').enabled"
                  matTooltipPosition="left">
                  <mat-checkbox
                    labelPosition="before"
                    (change)="passwordResetChange()"
                    formControlName="passwordReset"
                    >{{'DIALOGS.CREATE_SPONSORED_MEMBER.PASSWORD_RESET' | translate}}
                  </mat-checkbox>
                </span>
                @if (namespaceControl.get('passwordReset').value) {
                  <mat-form-field>
                    <mat-label>{{'DIALOGS.INVITE_MEMBER.LANGUAGE' | translate}}</mat-label>
                    <mat-select [(value)]="currentLanguage">
                      @for (lang of languages; track lang) {
                        <mat-option value="{{lang}}">
                          {{'SHARED_LIB.LANGUAGES.'+lang | uppercase | translate}}
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                }
                <perun-web-apps-password-form
                  [formGroup]="namespaceControl"
                  [namespace]="selectedNamespace"
                  [tooltipPwdViaEmail]="this.namespaceControl.get('passwordReset').value">
                </perun-web-apps-password-form>
              </form>
            </mat-step>
            <mat-step>
              <ng-template
                matStepLabel
                >{{'DIALOGS.CREATE_SPONSORED_MEMBER.SPONSORSHIP_LABEL' | translate}}</ng-template
              >
              <div class="dialog-container">
                <h5 class="mt-2">
                  {{'DIALOGS.CREATE_SPONSORED_MEMBER.SPONSORSHIP_TITLE' | translate}}
                </h5>
                <app-choose-sponsor
                  [voId]="data.voId"
                  [voSponsors]="voSponsors"
                  [customTitle]="'DIALOGS.CREATE_SPONSORED_MEMBER.SELECT_SPONSOR'"
                  (sponsorTypeSelected)="sponsorType = $event"
                  (sponsorSelected)="selectedSponsor = $event">
                </app-choose-sponsor>
                <h6 class="mt-4">{{'DIALOGS.CREATE_SPONSORED_MEMBER.EXPIRATION' | translate}}</h6>
                <perun-web-apps-expiration-select
                  [minDate]="minDate"
                  (expirationSelected)="setExpiration($event)"
                  class="mt-2">
                </perun-web-apps-expiration-select>
              </div>
            </mat-step>
            <mat-step>
              <ng-template
                matStepLabel
                >{{'DIALOGS.GENERATE_SPONSORED_MEMBERS.GROUPS_LABEL' | translate}}</ng-template
              >
              <app-assign-groups-sponsored-members-component
                (groupsToAdd)="createMember($event)"
                (submitAllowed)="submitAllowed = $event"
                [voId]="data.voId"
                [submit]="groupsToAssign.asObservable()"></app-assign-groups-sponsored-members-component>
            </mat-step>
          </mat-stepper>
        }
      </div>
    }

    @if (successfullyCreated) {
      <div class="dialog-container" mat-dialog-content>
        <div class="bigger-font mb-2">
          <mat-icon class="me-2 mb-2">done</mat-icon>
          {{'DIALOGS.CREATE_SPONSORED_MEMBER.USER' | translate}}
          <i>{{this.createdMember.user | userFullName}}</i>
          {{'DIALOGS.CREATE_SPONSORED_MEMBER.WAS_CREATED' | translate}}
        </div>
        <div>{{'DIALOGS.CREATE_SPONSORED_MEMBER.LOGIN' | translate}}: {{this.loginThatWasSet}}</div>
        <div>
          {{'DIALOGS.CREATE_SPONSORED_MEMBER.PASSWORD' | translate}} :
          {{this.namespaceControl.get('passwordCtrl').value}}
        </div>
        <perun-web-apps-alert
          alert_type="warn"
          >{{'DIALOGS.CREATE_SPONSORED_MEMBER.COPY_INFORMATION' | translate}}</perun-web-apps-alert
        >
        @if (finishedWithErrors) {
          <perun-web-apps-alert
            alert_type="error"
            >{{'DIALOGS.CREATE_SPONSORED_MEMBER.WITH_ERRORS' | translate}}</perun-web-apps-alert
          >
        }
      </div>
    }

    @if (successfullyCreated) {
      <div mat-dialog-actions class="justify-content-end">
        <button (click)="onCancel()" class="ms-auto" mat-flat-button data-cy="ok-button">
          {{'DIALOGS.CREATE_SPONSORED_MEMBER.OK' | translate}}
        </button>
      </div>
    }

    @if (functionalityNotSupported || !successfullyCreated && stepper !== undefined) {
      <div mat-dialog-actions class="justify-content-end">
        <div>
          <button (click)="onCancel()" mat-stroked-button class="me-2">
            {{'DIALOGS.CREATE_SPONSORED_MEMBER.CANCEL' | translate}}
          </button>
          @if (stepper !== undefined && stepper.selectedIndex !== 0) {
            <button (click)="stepperPrevious()" class="ms-auto" mat-stroked-button>
              {{'DIALOGS.CREATE_SPONSORED_MEMBER.BACK' | translate}}
            </button>
          }
          @if (stepper !== undefined && stepper.selectedIndex !== stepper._steps.length - 1) {
            <button
              data-cy="next-button"
              (click)="stepperNext()"
              [class.ms-2]="stepper !== undefined && stepper.selectedIndex !== 0"
              [class.ms-auto]="!(stepper !== undefined && stepper.selectedIndex !== 0)"
              [disabled]="getStepperNextConditions()"
              color="accent"
              mat-flat-button
              type="button">
              {{'DIALOGS.CREATE_SPONSORED_MEMBER.NEXT' | translate}}
            </button>
          }
          @if (stepper !== undefined && stepper.selectedIndex === stepper._steps.length -1) {
            <button
              data-cy="confirm-button"
              (click)="onConfirm()"
              [disabled]="!submitAllowed"
              class="ms-2"
              color="accent"
              mat-flat-button
              type="button">
              {{'DIALOGS.CREATE_SPONSORED_MEMBER.SUBMIT' | translate}}
            </button>
          }
        </div>
      </div>
    }
  </div>
</div>
