<h1 class="page-subtitle">{{'VO_DETAIL.SETTINGS.SERVICE_MEMBERS.TITLE' | translate}}</h1>
<perun-web-apps-refresh-button (refresh)="refresh()"></perun-web-apps-refresh-button>
<button (click)="createServiceMember()" class="me-2 action-button" color="accent" mat-flat-button>
  {{'VO_DETAIL.SETTINGS.SERVICE_MEMBERS.CREATE' | translate}}
</button>
<button
  (click)="onRemoveMembers()"
  *ngIf="removeAuth"
  [disabled]="loading || selection.isEmpty()"
  class="me-2"
  color="warn"
  mat-flat-button>
  {{'VO_DETAIL.SETTINGS.SERVICE_MEMBERS.DELETE' | translate}}
</button>
<perun-web-apps-debounce-filter
  (filter)="applyFilter($event)"
  [placeholder]="'VO_DETAIL.SETTINGS.SERVICE_MEMBERS.FILTER'">
</perun-web-apps-debounce-filter>
<ng-template #spinner>
  <perun-web-apps-loading-table></perun-web-apps-loading-table>
</ng-template>
<div class="position-relative table-min-height">
  <perun-web-apps-members-list
    *perunWebAppsLoader="loading; indicator: spinner"
    [loading]="loading"
    [displayedColumns]="['checkbox','id', 'type', 'fullName', 'status']"
    [disableStatusChange]="true"
    [selection]="selection"
    [members]="members"
    [filter]="searchString"
    [tableId]="tableId"
    [cacheSubject]="cacheSubject" />
</div>
