<app-add-ban-dialog
  [loading]="loading"
  [disabled]="(loading$ | async) || selection.selected.length === 0"
  [theme]="data.theme"
  [ban]="ban"
  (add)="submitBan($event)"
  (cancelled)="cancel()">
  <perun-web-apps-debounce-filter
    (filter)="setFilter($event)"
    [placeholder]="'DIALOGS.ADD_BAN.FILTER'"></perun-web-apps-debounce-filter>
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>
  <div class="position-relative table-min-height">
    <perun-web-apps-members-list
      *perunWebAppsLoader="loading$ | async; indicator: spinner"
      [loading]="loading$ | async"
      (queryChanged)="nextPage.next($event)"
      (downloadAll)="downloadAll($event)"
      [displayedColumns]="displayedColumns"
      [disableRouting]="true"
      [members]="membersPage$ | async"
      [selection]="selection"
      [filter]="filter"
      [tableId]="tableId" />
  </div>
</app-add-ban-dialog>
