<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{data.theme}} position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{'DIALOGS.MOVE_GROUP.TITLE' | translate}}{{this.data.group.name}}</h1>
    <div mat-dialog-content>
      <p>
        {{'DIALOGS.MOVE_GROUP.INFO' | translate}}
      </p>
      <mat-radio-group [(ngModel)]="moveOption">
        @if (!toRootOptionDisabled) {
          <mat-radio-button color="primary" class="move-options" value="toRoot">
            {{'DIALOGS.MOVE_GROUP.NO_GROUP' | translate}}
          </mat-radio-button>
        }
        @if (!toGroupOptionDisabled) {
          <mat-radio-button color="primary" value="toGroup">
            {{'DIALOGS.MOVE_GROUP.TO_GROUP' | translate}}
          </mat-radio-button>
        }
      </mat-radio-group>
      @if (toRootOptionDisabled && toGroupOptionDisabled) {
        <perun-web-apps-alert alert_type="warn">
          {{'DIALOGS.MOVE_GROUP.CANNOT_MOVE' | translate}}
        </perun-web-apps-alert>
      }
      @if (!toGroupOptionDisabled) {
        <mat-form-field
          [@openClose]="moveOption === 'toGroup' ? 'open' : 'closed'"
          class="w-100 mt-2">
          <mat-label>{{'DIALOGS.MOVE_GROUP.GROUP_SELECT' | translate}}</mat-label>
          <input
            matInput
            (change)="selectedGroup = null"
            [formControl]="otherGroupsCtrl"
            [matAutocomplete]="groupSelectAutocomplete"
            required />
          <!--suppress AngularInvalidExpressionResultType -->
          <mat-autocomplete #groupSelectAutocomplete="matAutocomplete" [displayWith]="displayFn">
            @for (group of filteredGroups | async; track group) {
              <mat-option (click)="selectedGroup = group" [value]="group">
                <span>{{group.name}}</span>
              </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      }
    </div>
    <div mat-dialog-actions>
      <button (click)="close()" class="ms-auto" mat-stroked-button>
        {{'DIALOGS.MOVE_GROUP.CANCEL' | translate}}
      </button>
      <span
        [matTooltipDisabled]="selectedGroup !== null || moveOption === 'toRoot'"
        [matTooltipPosition]="'above'"
        matTooltip="{{'DIALOGS.MOVE_GROUP.DISABLED_HINT' | translate}}">
        <button
          (click)="confirm()"
          [disabled]="((otherGroupsCtrl.invalid || selectedGroup === null) && moveOption !== 'toRoot') || loading"
          class="ms-2"
          color="accent"
          mat-flat-button>
          {{'DIALOGS.MOVE_GROUP.CONFIRM' | translate}}
        </button>
      </span>
    </div>
  </div>
</div>
