<h1 class="page-subtitle">{{'VO_DETAIL.RESOURCES.STATES.TITLE' | translate}}</h1>
<perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
<mat-tab-group
  class="mt-3"
  (selectedIndexChange)="selectedIndex = $event"
  [selectedIndex]="selectedIndex"
  animationDuration="0ms"
  mat-stretch-tabs="false">
  <mat-tab>
    <ng-template mat-tab-label>
      {{'VO_DETAIL.RESOURCES.STATES.ERROR_RESOURCES' | translate}}
      <span class="badge bg-danger ms-2">{{errorPropagation.length}}</span>
    </ng-template>
    <ng-template matTabContent>
      @if (!loading && errorPropagation.length === 0) {
        <perun-web-apps-alert alert_type="warn">
          {{'VO_DETAIL.RESOURCES.STATES.NO_RESOURCES_IN_ERROR' | translate}}
        </perun-web-apps-alert>
      }

      <app-state-tab [loading]="loading" [propagation]="errorPropagation"> </app-state-tab>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      {{'VO_DETAIL.RESOURCES.STATES.OK_RESOURCES' | translate}}
      <span class="badge bg-success ms-2">{{okPropagation.length}}</span>
    </ng-template>

    <ng-template matTabContent>
      @if (!loading && okPropagation.length === 0) {
        <perun-web-apps-alert alert_type="warn">
          {{'VO_DETAIL.RESOURCES.STATES.NO_RESOURCES_IN_OK' | translate}}
        </perun-web-apps-alert>
      }

      <app-state-tab [loading]="loading" [propagation]="okPropagation"> </app-state-tab>
    </ng-template>
  </mat-tab>
</mat-tab-group>
