<h1 class="page-subtitle">{{'GROUP_DETAIL.INVITATIONS.TITLE' | translate}}</h1>

<div class="align-elements">
  <perun-web-apps-refresh-button
    (click)="refreshTable()"
    class="me-2"></perun-web-apps-refresh-button>

  <span
    [matTooltipDisabled]="!((loading$ | async) || !(selection | selectedPendingInvitation))
    || this.selection.selected.length === 0"
    matTooltip="{{'GROUP_DETAIL.INVITATIONS.RESEND_DISABLED' | translate}}">
    @if (authRights.resend) {
      <button
        [disabled]="(loading$ | async) || !(selection | selectedPendingInvitation)"
        (click)="onInvitationResend()"
        class="me-2"
        color="accent"
        mat-flat-button>
        {{'GROUP_DETAIL.INVITATIONS.RESEND' | translate}}
      </button>
    }
  </span>

  <span
    [matTooltipDisabled]="!((loading$ | async) || !(selection | selectedPendingInvitation))
    || this.selection.selected.length === 0"
    matTooltip="{{'GROUP_DETAIL.INVITATIONS.EXTEND_DISABLED' | translate}}">
    @if (authRights.extend) {
      <button
        [disabled]="(loading$ | async) || !(selection | selectedPendingInvitation)"
        (click)="onInvitationExtendDate()"
        class="me-2"
        color="accent"
        mat-flat-button>
        {{'GROUP_DETAIL.INVITATIONS.EXTEND_EXPIRATION_DATE' | translate}}
      </button>
    }
  </span>

  <span
    [matTooltipDisabled]="!((loading$ | async) || !(selection | selectedPendingInvitation))
    || this.selection.selected.length === 0"
    matTooltip="{{'GROUP_DETAIL.INVITATIONS.REVOKE_DISABLED' | translate}}">
    @if (authRights.revoke) {
      <button
        [disabled]="(loading$ | async) || !(selection | selectedPendingInvitation)"
        (click)="onInvitationRevoke()"
        class="me-2"
        color="warn"
        mat-flat-button>
        {{'GROUP_DETAIL.INVITATIONS.REVOKE' | translate}}
      </button>
    }
  </span>

  <mat-form-field class="me-2 fix-select">
    <mat-label>{{'GROUP_DETAIL.INVITATIONS.FILTER_STATUS' | translate}}</mat-label>
    <mat-select (closed)="changeInvitationStatus()" [formControl]="statuses" multiple>
      <mat-select-trigger>
        {{displaySelectedStatuses()}}
      </mat-select-trigger>
      @for (status of statusList; track status) {
        <mat-option class="group-theme" [value]="status">{{status}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <perun-web-apps-debounce-filter
    (filter)="onSearchByString($event)"
    [placeholder]="'GROUP_DETAIL.INVITATIONS.SEARCH_DESCRIPTION'"
    class="mt-2 me-2 search-field">
  </perun-web-apps-debounce-filter>

  <!--  TODO: Add expiration range filter-->
  <!--  <perun-web-apps-date-range-->
  <!--    [endDate]="endDate"-->
  <!--    [startDate]="startDate"-->
  <!--    [allowFutureDate]="true"-->
  <!--    class="mt-2 search-field" />-->
</div>

<ng-template #spinner>
  <perun-web-apps-loading-table></perun-web-apps-loading-table>
</ng-template>
<div class="position-relative table-min-height">
  <perun-web-apps-invitations-list
    *perunWebAppsLoader="loading$ | async; indicator: spinner"
    [loading]="loading$ | async"
    (queryChanged)="nextPage.next($event)"
    (refreshTable)="refreshTable()"
    (downloadAll)="downloadAll($event)"
    [displayColumns]="displayedColumns"
    [groupId]="group.id"
    [invitations]="invitationsPage$ | async"
    [selection]="selection"
    [cacheSubject]="cacheSubject"
    [filter]="searchString"
    [tableId]="tableId"
    [resetPagination]="resetPagination" />
</div>
