<h1 class="page-subtitle">{{'ADMIN.USERS.TITLE' | translate}}</h1>
<perun-web-apps-refresh-button (click)="refresh()"></perun-web-apps-refresh-button>
<perun-web-apps-debounce-filter
  class="mt-2 search-field"
  [autoFocus]="true"
  [placeholder]="'ADMIN.USERS.SEARCH_PLACEHOLDER'"
  (filter)="filterSearchString($event)"
  [linkGlobalSearch]="true">
</perun-web-apps-debounce-filter>
<mat-checkbox (change)="filterUserWithoutVO()" [checked]="usersWithoutVo" color="primary">
  {{'ADMIN.USERS.USERS_WITHOUT_VO' | translate}}
</mat-checkbox>
<ng-template #spinner>
  <perun-web-apps-loading-table></perun-web-apps-loading-table>
</ng-template>
<div class="position-relative table-min-height">
  <perun-web-apps-users-list
    *perunWebAppsLoader="loading$ | async; indicator: spinner"
    [loading]="loading$ | async"
    (queryChanged)="nextPage.next($event)"
    (downloadAll)="downloadAll($event)"
    [users]="usersPage$ | async"
    [routeToAdmin]="true"
    [displayColumns]="displayedColumns"
    [filter]="searchString"
    [tableId]="tableId"
    [resetPagination]="resetPagination" />
</div>
