<div
  *ngIf="displayWarning"
  class="beta-warning text-truncate"
  matTooltipPosition="below"
  matTooltip="{{ warningMessage }}">
  <mat-icon>alert</mat-icon>
  {{ warningMessage }}
</div>
<div *ngIf="!isServiceAccess && !showLoginScreen">
  <perun-web-apps-header
    [showToggle]="false"
    [showHeaderMenu]="false"
    [showLanguageMenu]="true"
    [ngStyle]="{'top': getNavMenuTop()}"
    id="nav-menu"
    class="nav-menu mat-elevation-z3"></perun-web-apps-header>
  <div
    [ngStyle]="{'background': contentBackgroundColor, 'padding-top': getSideNavMarginTop()}"
    id="content-inner">
    <div [ngStyle]="{'min-height': contentHeight}" id="content-wrap">
      <perun-web-apps-password-reset-page
        [mode]="mode"
        [token]="token"
        [namespace]="namespace"
        [login]="login"
        [validToken]="validToken"
        [authWithoutToken]="authWithoutToken">
      </perun-web-apps-password-reset-page>
    </div>
    <div #footer>
      <perun-web-apps-footer></perun-web-apps-footer>
    </div>
  </div>
</div>
<ng-template [ngIf]="isServiceAccess || showLoginScreen">
  <perun-web-apps-login-screen-base
    [application]="'pwd-reset'"
    [displayWarning]="displayWarning"></perun-web-apps-login-screen-base>
</ng-template>
