<div>
  <h1 class="page-subtitle">{{'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refresh()"></perun-web-apps-refresh-button>
  <span
    matTooltip="{{'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.NO_SPONSORS' | translate}}"
    [matTooltipDisabled]="!(findSponsorsAuth && !sponsorshipIsPossible)"
    matTooltipPosition="above">
    @if (createAuth || generateAuth) {
      <button
        data-cy="sponsor-dropdown-button"
        [disabled]="findSponsorsAuth && !sponsorshipIsPossible"
        [matMenuTriggerFor]="menu"
        class="me-2 dropdown-toggle"
        color="accent"
        mat-flat-button>
        {{'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.CREATE' | translate}}
      </button>
    }
  </span>
  <mat-menu #menu="matMenu">
    @if (createAuth) {
      <button data-cy="sponsor-new-button" (click)="onCreate()" class="action-button" mat-menu-item>
        {{'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.CREATE_ONE' | translate}}
      </button>
    }
    @if (generateAuth) {
      <button
        data-cy="sponsor-csv-button"
        (click)="onGenerate()"
        class="action-button"
        mat-menu-item>
        {{'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.GENERATE' | translate}}
      </button>
    }
  </mat-menu>
  @if (setSponsorshipAuth) {
    <button
      data-cy="sponsor-existing-button"
      (click)="onSponsorExistingMember()"
      [disabled]="findSponsorsAuth && !sponsorshipIsPossible"
      color="accent"
      class="me-2 action-button"
      mat-flat-button>
      {{'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.SPONSOR_EXISTING' | translate}}
    </button>
  }
  @if (setSponsorshipAuth) {
    <button
      (click)="copySponsoredMembers()"
      [disabled]="findSponsorsAuth && !sponsorshipIsPossible"
      color="accent"
      class="me-2 action-button"
      mat-flat-button>
      {{'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.COPY' | translate}}
    </button>
  }
  <perun-web-apps-debounce-filter
    (filter)="applyFilter($event)"
    [placeholder]="'VO_DETAIL.SETTINGS.SPONSORED_MEMBERS.FILTER'">
  </perun-web-apps-debounce-filter>
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>
  <div class="position-relative table-min-height">
    <app-sponsored-members-list
      *perunWebAppsLoader="loading; indicator: spinner"
      (refreshTable)="refresh()"
      [tableLoading]="loading"
      [disableRouting]="!routeAuth"
      [selection]="selection"
      [cachedSubject]="cachedSubject"
      [filterValue]="searchString"
      [sponsoredMembers]="members"
      [tableId]="tableId"></app-sponsored-members-list>
  </div>
</div>
