<h1 class="page-subtitle">
  {{'SHARED.COMPONENTS.MANAGERS_PAGE.TITLE' | translate}}
</h1>

<mat-tab-group
  (selectedTabChange)="tabChanged($event)"
  mat-stretch-tabs="false"
  preserveContent="true">
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>
  <mat-tab>
    <ng-template matTabLabel>
      {{'SHARED.COMPONENTS.MANAGERS_PAGE.USER' | translate}}
    </ng-template>
    <ng-template matTabContent>
      <perun-web-apps-refresh-button
        (refresh)="refreshUsers()"
        class="mt-2"></perun-web-apps-refresh-button>
      @if (manageAuth && !configMode) {
        <button
          (click)="addManager()"
          color="accent"
          class="me-2 action-button"
          data-cy="add-manager-button"
          mat-flat-button>
          {{'SHARED.COMPONENTS.MANAGERS_PAGE.ADD' | translate}}
        </button>
      }

      @if (manageAuth && !configMode) {
        <button
          (click)="removeManager()"
          color="warn"
          [disabled]="loading || selectionUsers.selected.length === 0"
          data-cy="remove-manager-button"
          class="me-2"
          mat-flat-button>
          {{'SHARED.COMPONENTS.MANAGERS_PAGE.REMOVE' | translate}}
        </button>
      }

      <mat-form-field data-cy="role-filter" class="me-2 mt-2">
        <mat-label>{{'SHARED.COMPONENTS.MANAGERS_PAGE.SELECT_ROLE' | translate}}</mat-label>
        <mat-select (selectionChange)="refreshUsers(true)" [(value)]="selectedRole">
          @for (role of availableRoles; track role) {
            <mat-option attr.data-cy="{{role.roleName | lowercase}}" [value]="role.roleName">
              {{role | displayedRole}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      @if (complementaryObject.beanName.includes('Group')) {
        <mat-slide-toggle
          (change)="showIndirectAdmins = !showIndirectAdmins; refreshUsers()"
          [checked]="showIndirectAdmins">
          {{'SHARED.COMPONENTS.MANAGERS_PAGE.SHOW_DERIVED_ADMINS' | translate}}
        </mat-slide-toggle>
      }

      <div class="position-relative table-min-height">
        <perun-web-apps-users-list
          *perunWebAppsLoader="loading; indicator: spinner"
          [routeToAdmin]="routeAuth"
          [loading]="loading"
          [tableId]="tableId"
          [disableRouting]="!routeAuth || disableRouting"
          [sortableColumns]="['id', 'name', 'email', 'logins', 'organization']"
          [displayColumns]="displayedUserColumns"
          [selection]="selectionUsers"
          [users]="managers"
          [disableCheckbox]="true"
          [directManagerIds]="directAdminsIds"
          [cacheSubject]="cacheSubject">
        </perun-web-apps-users-list>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template matTabLabel>
      {{'SHARED.COMPONENTS.MANAGERS_PAGE.GROUP' | translate}}
    </ng-template>
    <ng-template matTabContent>
      <perun-web-apps-refresh-button
        (refresh)="refreshGroups()"
        class="mt-2"></perun-web-apps-refresh-button>
      @if (manageAuth && !configMode) {
        <button (click)="addGroup()" color="accent" class="me-2 action-button" mat-flat-button>
          {{'SHARED.COMPONENTS.MANAGERS_PAGE.ADD' | translate}}
        </button>
      }

      @if (manageAuth && !configMode) {
        <button
          (click)="removeGroup()"
          [disabled]="loading || selectionGroups.selected.length === 0"
          class="me-2"
          color="warn"
          mat-flat-button>
          {{'SHARED.COMPONENTS.MANAGERS_PAGE.REMOVE' | translate}}
        </button>
      }

      <mat-form-field class="me-2 mt-2">
        <mat-label>{{'SHARED.COMPONENTS.MANAGERS_PAGE.SELECT_ROLE' | translate}}</mat-label>
        <mat-select (selectionChange)="refreshGroups()" [(value)]="selectedRole">
          @for (role of availableRoles; track role) {
            <mat-option [value]="role.roleName">{{role | displayedRole}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div class="position-relative table-min-height">
        <perun-web-apps-groups-list
          *perunWebAppsLoader="loading; indicator: spinner"
          [loading]="loading"
          [disableMembers]="false"
          [disableRouting]="disableRouting"
          [displayColumns]="displayedGroupColumns"
          [groups]="groups"
          [selection]="selectionGroups"
          [tableId]="tableId"
          [cacheSubject]="cacheSubject">
        </perun-web-apps-groups-list>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>

@if (availableRoles.length === 0) {
  <perun-web-apps-alert alert_type="warn">
    {{'SHARED.COMPONENTS.MANAGERS_PAGE.NO_AVAILABLE_ROLES' | translate}}
  </perun-web-apps-alert>
}
