<h1 class="page-subtitle">{{'ADMIN.SEARCHER.TITLE' | translate}}</h1>
<mat-tab-group mat-stretch-tabs="false" (selectedIndexChange)="tabChanged($event)">
  <mat-tab class="mb-2">
    <ng-template matTabLabel>
      {{'ADMIN.SEARCHER.TAB_USERS' | translate}}
    </ng-template>
    <ng-template matTabContent>
      @if (!loading) {
        <perun-web-apps-attribute-search-select
          [attributes]="allAttrDefinitions"
          [attributesForEntity]="['user']"
          (search)="getUsers($event)">
        </perun-web-apps-attribute-search-select>
      }
      @if (!loadingEntityData) {
        <perun-web-apps-users-list
          [loading]="loading"
          [routeToAdmin]="true"
          [displayColumns]="['user', 'id', 'name']"
          [users]="entities">
        </perun-web-apps-users-list>
      }
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template matTabLabel>
      {{'ADMIN.SEARCHER.TAB_MEMBERS' | translate}}
    </ng-template>
    <ng-template matTabContent>
      <div class="mt-3">
        @if (vos.length > 0) {
          <perun-web-apps-vo-search-select [vos]="vos" (voSelected)="voSelected($event)">
          </perun-web-apps-vo-search-select>
        }
      </div>
      <!-- we search members in searcher by user attributes !!! -->
      @if (!loading) {
        <perun-web-apps-attribute-search-select
          [attributes]="allAttrDefinitions"
          [attributesForEntity]="['user', 'member']"
          (search)="getMembers($event)">
        </perun-web-apps-attribute-search-select>
      }
      @if (!loadingEntityData) {
        <perun-web-apps-members-list
          [loading]="loading"
          (refreshTable)="getMembers(searchInput)"
          [displayedColumns]="['id', 'voId', 'userId', 'status']"
          [members]="entities" />
      }
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template matTabLabel>
      {{'ADMIN.SEARCHER.TAB_FACILITIES' | translate}}
    </ng-template>
    <ng-template matTabContent>
      @if (!loading) {
        <perun-web-apps-attribute-search-select
          [attributes]="allAttrDefinitions"
          [attributesForEntity]="['facility']"
          (search)="getFacilities($event)">
        </perun-web-apps-attribute-search-select>
      }
      @if (!loadingEntityData) {
        <perun-web-apps-facilities-list
          [loading]="loading"
          [displayColumns]="['id', 'name', 'description']"
          [facilities]="entities">
        </perun-web-apps-facilities-list>
      }
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template matTabLabel>
      {{'ADMIN.SEARCHER.TAB_RESOURCES' | translate}}
    </ng-template>
    <ng-template matTabContent>
      @if (!loading) {
        <perun-web-apps-attribute-search-select
          [attributes]="allAttrDefinitions"
          [attributesForEntity]="['resource']"
          (search)="getResources($event)">
        </perun-web-apps-attribute-search-select>
      }
      @if (!loadingEntityData) {
        <perun-web-apps-resources-list
          [loading]="loading"
          [displayColumns]="['id', 'name', 'description', 'voId', 'facilityId']"
          [resources]="entities">
        </perun-web-apps-resources-list>
      }
    </ng-template>
  </mat-tab>
</mat-tab-group>
@if (loading || loadingEntityData) {
  <mat-spinner class="ms-auto me-auto"></mat-spinner>
}
