<h1 class="page-title">{{'AUTHENTICATION.ANTI_PHISHING' | customTranslate | translate}}</h1>
<div class="mb-5">
  <h1 class="page-subtitle">{{'AUTHENTICATION.TITLE_TEXT' | customTranslate | translate}}</h1>
  <p>{{'AUTHENTICATION.ANTI_PHISHING_INFO_TEXT' | customTranslate | translate}}</p>
  <h4 *ngIf="textAtt" class="security-text">{{textAtt.value}}</h4>
  <button (click)="onAddAttribute()" class="me-2 action-button" color="accent" mat-flat-button>
    {{'AUTHENTICATION.NEW_TEXT' | customTranslate | translate}}
  </button>
  <button
    (click)="onDeleteAttribute()"
    color="warn"
    [disabled]="!textAtt || !textAtt.value"
    mat-flat-button>
    {{'AUTHENTICATION.DELETE_TEXT' | customTranslate | translate}}
  </button>
</div>
