<div class="container-fluid ps-xl-5 pe-xl-5 vo-theme">
  <perun-web-apps-back-button> </perun-web-apps-back-button>

  <h1 class="page-title d-flex">
    <mat-icon [ngStyle]="{'color':'black'}" class="perun-icon icon-scale" svgIcon="perun-vo-black">
    </mat-icon>
    {{'VO_MANAGEMENT.TITLE' | translate}}
  </h1>

  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <span
    [matTooltipDisabled]="createAuth"
    matTooltip="{{'VO_MANAGEMENT.CREATE_DISABLED' | translate}}"
    matTooltipPosition="below">
    <button
      (click)="onCreateVo()"
      [disabled]="!createAuth"
      class="me-2 action-button"
      data-cy="new-vo-button"
      color="accent"
      mat-flat-button>
      {{'VO_MANAGEMENT.CREATE_VO' | translate}}
    </button>
  </span>
  @if (deleteAuth) {
    <button
      (click)="onRemoveVo()"
      [disabled]="selection.selected.length === 0"
      class="me-2"
      color="warn"
      mat-flat-button>
      {{'VO_MANAGEMENT.REMOVE_VO' | translate}}
    </button>
  }
  <perun-web-apps-debounce-filter
    [autoFocus]="true"
    (filter)="applyFilter($event)"
    [placeholder]="'VO_MANAGEMENT.FILTER_PLACEHOLDER'"
    [linkGlobalSearch]="true">
  </perun-web-apps-debounce-filter>
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>
  <div class="position-relative table-min-height">
    <perun-web-apps-vos-list
      *perunWebAppsLoader="loading; indicator: spinner"
      [loading]="loading"
      [tableId]="tableId"
      [displayColumns]="displayedColumns"
      [filterValue]="filterValue"
      [recentIds]="recentIds"
      [cachedSubject]="cachedSubject"
      [selection]="selection"
      [vos]="vos">
    </perun-web-apps-vos-list>
  </div>
</div>
