<app-add-ban-dialog
  [loading]="loading"
  [disabled]="loading || selection.selected.length === 0"
  [theme]="data.theme"
  [ban]="ban"
  (add)="submitBan($event)"
  (cancelled)="cancel()">
  <perun-web-apps-debounce-filter
    (filter)="filter = $event"
    [placeholder]="'DIALOGS.ADD_BAN.FILTER'">
  </perun-web-apps-debounce-filter>
  <perun-web-apps-members-list
    [loading]="loading"
    [displayedColumns]="['checkbox', 'id', 'fullName']"
    [disableRouting]="true"
    [disableCheckbox]="false"
    [members]="members"
    [selection]="selection"
    [filter]="filter" />
</app-add-ban-dialog>
