<div class="user-theme">
  @if (initLoading) {
    <mat-spinner class="ms-auto me-auto"></mat-spinner>
  }
  @if (!initLoading) {
    <div>
      @if (mode === 'authors') {
        <h1 class="page-subtitle d-flex">
          <span>
            <mat-icon class="title-icon align-icon me-3">assignment_ind</mat-icon>
            {{'AUTHORS_PAGE.TITLE' | translate}}
          </span>
        </h1>
      }
      @if (mode === 'all') {
        <h1 class="page-subtitle d-flex">
          <mat-icon class="icon-size" svgIcon="publications"></mat-icon>
          <span class="ms-3 mt-1">{{'ALL_PUBLICATIONS.TITLE' | translate}}</span>
        </h1>
      }
      @if (mode === 'my') {
        <h1 class="page-subtitle d-flex">
          <span>
            <mat-icon class="title-icon align-icon me-3">local_library</mat-icon>
            {{'MY_PUBLICATIONS.TITLE' | translate}}
          </span>
        </h1>
      }
      @if (mainAuthor !== undefined) {
        <h5 class="mb-2">{{ mainAuthor | userFullName }}{{'AUTHOR_DETAIL.TITLE' | translate}}</h5>
      }
      <h5>{{'PUBLICATION_DETAIL.TITLE' | translate}}</h5>
      <h6>
        {{'PUBLICATION_DETAIL.LOCK_INFO' | translate}}
        <span
          matTooltip="{{'PUBLICATION_DETAIL.LOCK_DISABLED_TOOLTIP' | translate}}"
          matTooltipPosition="below"
          [matTooltipDisabled]="lockAuth">
          <button class="ms-2" [disabled]="!lockAuth" (click)="changeLock()" mat-stroked-button>
            @if (publication.locked) {
              <span class="fw-bold">
                {{'PUBLICATION_DETAIL.LOCKED' | translate}}
              </span>
            }
            @if (publication.locked) {
              <mat-icon iconPositionEnd> lock </mat-icon>
            }
            @if (!publication.locked) {
              <span class="fw-bold">
                {{'PUBLICATION_DETAIL.UNLOCKED' | translate}}
              </span>
            }
            @if (!publication.locked) {
              <mat-icon iconPositionEnd> lock_open </mat-icon>
            }
          </button>
        </span>
      </h6>
      <mat-card appearance="outlined">
        <mat-card-content>
          @if (loading || pubLoading) {
            <mat-spinner class="ms-auto me-auto"></mat-spinner>
          }
          @if (!pubLoading && !loading) {
            <perun-web-apps-publication-detail-list
              [publication]="publication"
              [categories]="categories"
              [similarityCheck]="similarityCheck"
              (edited)="refreshPublication()">
            </perun-web-apps-publication-detail-list>
          }
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="mt-4">
        <mat-card-header>
          <mat-card-title>
            {{'PUBLICATION_DETAIL.AUTHORS' | translate}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <perun-web-apps-add-authors
            [publication]="publication"
            [selection]="selectionAuthors"
            [cachedSubject]="cachedSubject"
            [disableRouting]="disableRouting"
            [similarityCheck]="similarityCheck">
          </perun-web-apps-add-authors>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="mt-4">
        <mat-card-header>
          <mat-card-title>
            {{'PUBLICATION_DETAIL.ACKNOWLEDGEMENT' | translate}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <perun-web-apps-add-thanks
            [publication]="publication"
            [selection]="selectionThanks"
            [cachedSubject]="cachedSubject"
            [similarityCheck]="similarityCheck">
          </perun-web-apps-add-thanks>
        </mat-card-content>
      </mat-card>
    </div>
  }
</div>
