<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{theme}} position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <div mat-dialog-title>
      <h1 mat-dialog-title>{{'DIALOGS.ADD_ROLE.TITLE' | translate}}</h1>
    </div>
    <div mat-dialog-content class="dialog-container">
      <perun-web-apps-role-search-select [roles]="rules" (roleSelected)="resetSelection($event)">
      </perun-web-apps-role-search-select>
      @if (selectedRule?.primaryObject) {
        <perun-web-apps-debounce-filter
          (filter)="applyFilter($event)"
          [placeholder]="'SHARED_LIB.PERUN.COMPONENTS.UNIVERSAL_OBJECTS_LIST.FILTER'"
          class="font-size-1rem"></perun-web-apps-debounce-filter>
      }
      @if (selectedRule?.primaryObject === 'Vo') {
        <perun-web-apps-vos-list
          [loading]="loading"
          [filterValue]="filterValue"
          [vos]="vos | manageableEntities: selectedRule | unassignedRole: roles : selectedRule"
          [displayColumns]="['checkbox', 'id', 'shortName', 'name']"
          [selection]="selected"
          [cachedSubject]="cachedSubject"
          [disableRouting]="true">
        </perun-web-apps-vos-list>
      }
      @if (selectedRule?.primaryObject === 'Group') {
        <perun-web-apps-groups-list
          [loading]="loading"
          [groups]="groups | manageableEntities: selectedRule | unassignedRole: roles : selectedRule"
          [displayColumns]="['select', 'id', 'vo', 'name', 'description']"
          [selection]="selected"
          [filter]="filterValue"
          [disableRouting]="true">
        </perun-web-apps-groups-list>
      }
      @if (selectedRule?.primaryObject === 'Facility') {
        <perun-web-apps-facilities-list
          [filterValue]="filterValue"
          [facilities]="facilities | extractFacility | manageableEntities: selectedRule | unassignedRole: roles : selectedRule | toEnrichedFacility"
          [displayColumns]="['select', 'id', 'name', 'description']"
          [selection]="selectedFacilities"
          [cachedSubject]="cachedSubject"
          [loading]="loading"
          [disableRouting]="true">
        </perun-web-apps-facilities-list>
      }
      @if (selectedRule?.primaryObject === 'Resource') {
        <perun-web-apps-resources-list
          [filterValue]="filterValue"
          [loading]="loading"
          [resources]="resources | manageableEntities: selectedRule | unassignedRole: roles : selectedRule"
          [displayColumns]="['select', 'id', 'name']"
          [selection]="selected"
          [cachedSubject]="cachedSubject"
          [disableRouting]="true">
        </perun-web-apps-resources-list>
      }
    </div>
    <div mat-dialog-actions>
      <button (click)="cancel()" class="ms-auto" mat-stroked-button>
        {{'DIALOGS.ADD_ROLE.CANCEL' | translate}}
      </button>
      <button
        (click)="addRole()"
        [disabled]="loading || selectedRule === null || ((selectedRule.primaryObject === 'Facility' && selectedFacilities.isEmpty())
        || (selectedRule.primaryObject && selectedRule.primaryObject !== 'Facility' && selected.isEmpty()))"
        class="ms-2"
        color="accent"
        mat-flat-button>
        {{'DIALOGS.ADD_ROLE.ADD' | translate}}
      </button>
    </div>
  </div>
</div>
