<div>
  <h1 class="page-subtitle">{{'USER_DETAIL.SETTINGS.ASSOCIATED_USERS.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button (click)="onAdd()" class="me-2 action-button" color="accent" mat-flat-button>
    {{'USER_DETAIL.SETTINGS.ASSOCIATED_USERS.ADD' | translate}}
  </button>
  <button
    (click)="onRemove()"
    [disabled]="loading || selection.selected.length === 0"
    color="warn"
    class="me-2"
    mat-flat-button>
    {{'USER_DETAIL.SETTINGS.ASSOCIATED_USERS.REMOVE' | translate}}
  </button>
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>
  <div class="position-relative table-min-height">
    <perun-web-apps-users-list
      *perunWebAppsLoader="loading; indicator: spinner"
      [loading]="loading"
      [noUsersFoundLabel]="'USER_DETAIL.SETTINGS.ASSOCIATED_USERS.NO_ASSOCIATED_USERS' | translate"
      [disableRouting]="disableRouting"
      [routeToAdmin]="true"
      [displayColumns]="displayedColumns"
      [selection]="selection"
      [users]="associatedUsers"
      [cacheSubject]="cacheSubject">
    </perun-web-apps-users-list>
  </div>
</div>
