<ng-template #spinner>
  <perun-web-apps-loading-dialog></perun-web-apps-loading-dialog>
</ng-template>
<div class="{{theme}} position-relative">
  <div *perunWebAppsLoader="loading; indicator: spinner">
    <h1 mat-dialog-title>{{'DIALOGS.REMOVE_SERVICE_FROM_RESOURCE.TITLE' | translate}}</h1>
    <div mat-dialog-content>
      <p>
        {{'DIALOGS.REMOVE_SERVICE_FROM_RESOURCE.DESCRIPTION' | translate}}
      </p>
      <div *ngIf="servicesLastAssignedIds.length > 0" class="mb-2">
        <perun-web-apps-alert alert_type="warn">
          {{'DIALOGS.REMOVE_SERVICE_FROM_RESOURCE.WARN_LAST_ASSIGNED' | translate}}
        </perun-web-apps-alert>
        <p>
          {{'DIALOGS.REMOVE_SERVICE_FROM_RESOURCE.OPTIONAL_REMOVAL' | translate}}
        </p>
        <p class="small mt-0">
          {{'DIALOGS.REMOVE_SERVICE_FROM_RESOURCE.OPTIONAL_REMOVAL_EXTRA' | translate}}
        </p>
        <div class="flex-column d-flex">
          <mat-checkbox [(ngModel)]="removeTask" (change)="removeTaskResults = false">
            {{'DIALOGS.REMOVE_SERVICE_FROM_RESOURCE.REMOVE_TASK' | translate}}
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="removeTaskResults" [disabled]="removeTask">
            {{'DIALOGS.REMOVE_SERVICE_FROM_RESOURCE.REMOVE_TASK_RESULTS' | translate}}
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="removeDestinations">
            {{'DIALOGS.REMOVE_SERVICE_FROM_RESOURCE.REMOVE_DESTINATIONS' | translate}}
          </mat-checkbox>
        </div>
      </div>

      <div class="fw-bold">
        {{'DIALOGS.REMOVE_SERVICE_FROM_RESOURCE.ASK' | translate}}
      </div>
      <table [dataSource]="dataSource" class="w-100" mat-table>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell></th>
          <td
            *matCellDef="let service"
            mat-cell
            [matTooltip]="'DIALOGS.REMOVE_SERVICE_FROM_RESOURCE.TOOLTIP' | translate"
            [matTooltipDisabled]="!servicesLastAssignedIds.includes(service.id)">
            <div class="d-flex align-items-center">
              {{service.name}}
              <mat-icon class="ms-2" *ngIf="servicesLastAssignedIds.includes(service.id)"
                >warning</mat-icon
              >
            </div>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" class="font-weight-bolder" mat-header-row></tr>
        <tr *matRowDef="let service; columns: displayedColumns;" mat-row></tr>
      </table>
    </div>
    <div mat-dialog-actions>
      <button (click)="onCancel()" class="ms-auto" mat-stroked-button>
        {{'DIALOGS.REMOVE_SERVICE_FROM_RESOURCE.CANCEL' | translate}}
      </button>
      <button (click)="onSubmit()" [disabled]="loading" class="ms-2" color="warn" mat-flat-button>
        {{'DIALOGS.REMOVE_SERVICE_FROM_RESOURCE.DELETE' | translate}}
      </button>
    </div>
  </div>
</div>
