<div>
  <h1 class="page-subtitle">{{'FACILITY_DETAIL.RESOURCES.TITLE' | translate}}</h1>
  <div class="align-elements">
    <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
    @if (addAuth) {
      <button
        mat-flat-button
        color="accent"
        data-cy="create-resource-button"
        class="me-2 action-button"
        (click)="createResource()">
        {{'FACILITY_DETAIL.RESOURCES.CREATE' | translate}}
      </button>
    }
    @if (removeAuth) {
      <button
        mat-flat-button
        color="warn"
        class="me-2"
        data-cy="delete-resource-button"
        [disabled]="selected.selected.length === 0 || loading"
        (click)="removeResource()">
        {{'FACILITY_DETAIL.RESOURCES.DELETE' | translate}}
      </button>
    }
    <perun-web-apps-service-search-select
      [services]="services"
      (serviceSelected)="serviceSelected($event)"
      [service]="selectedService"
      class="search-select me-2">
    </perun-web-apps-service-search-select>
    <perun-web-apps-debounce-filter
      [placeholder]="'SHARED_LIB.PERUN.COMPONENTS.RESOURCES_LIST.TABLE_SEARCH'"
      (filter)="applyFilter($event)"
      class="filter-field">
    </perun-web-apps-debounce-filter>
  </div>
  <ng-template #spinner>
    <perun-web-apps-loading-table></perun-web-apps-loading-table>
  </ng-template>
  <div class="position-relative table-min-height">
    <perun-web-apps-resources-list
      [tableId]="tableId"
      *perunWebAppsLoader="loading; indicator: spinner"
      [loading]="loading"
      [filterValue]="filterValue"
      [resources]="resources"
      [selection]="selected"
      [cachedSubject]="cachedSubject"
      [disableRouting]="!routeAuth"
      [displayedColumns]="displayedColumns">
    </perun-web-apps-resources-list>
  </div>
</div>
