<h2 class="page-subtitle">
  {{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.TITLE' | translate}}
  @if (!!application) {
    <span class="text-muted"> #{{application.id}} </span>
  }
</h2>
<mat-divider class="mb-4"></mat-divider>

@if (loading) {
  <mat-spinner class="ms-auto me-auto"> </mat-spinner>
}

@if (!loading) {
  <div>
    @if (this.application.state === 'SUBMITTED' && verifyAuth) {
      <button (click)="verifyApplication()" color="accent" class="me-2" mat-flat-button>
        {{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.VERIFY' | translate}}
      </button>
    }
    @if (
      (this.application.state === 'VERIFIED' || this.application.state === 'SUBMITTED') && approveAuth
    ) {
      <button (click)="approveApplication()" color="accent" class="me-2" mat-flat-button>
        {{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.APPROVE' | translate}}
      </button>
    }
    @if (
      (this.application.state === 'VERIFIED' || this.application.state === 'SUBMITTED') && rejectAuth
    ) {
      <button (click)="rejectApplication()" color="warn" class="me-2" mat-flat-button>
        {{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.REJECT' | translate}}
      </button>
    }
    @if (
      (this.application.state === 'REJECTED' || this.application.state === 'SUBMITTED') && deleteAuth
    ) {
      <button (click)="deleteApplication()" color="warn" class="me-2" mat-flat-button>
        {{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.DELETE' | translate}}
      </button>
    }
    @if (resendAuth) {
      <button (click)="resendNotification()" class="me-2" mat-stroked-button>
        <i class="material-icons"> mail_outline </i>
        {{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.SEND_NOTIFICATION' | translate}}
      </button>
    }
    @if (!group) {
      <div>
        <span
          class="fw-bold"
          >{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.APPLICATION_FOR_VO' | translate}}</span
        >: {{this.vo.name}}
      </div>
    }
    @if (group) {
      <div>
        <span
          class="fw-bold"
          >{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.APPLICATION_FOR_GROUP' | translate}}</span
        >: {{this.group.name}}
        <span
          class="fw-bold"
          >{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.APPLICATION_IN_VO' | translate}}</span
        >: {{this.vo.name}}
      </div>
    }
    <div>
      <span class="fw-bold">{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.STATE' | translate}}</span
      >: <span [outerHTML]="this.application.state | applicationState"></span>
    </div>
    <div>
      <span class="fw-bold">{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.TYPE' | translate}}</span
      >:
      @if (this.application.type.formType === 'INITIAL') {
        <span>
          <mat-icon class="align-bottom">arrow_right_alt</mat-icon>
          Initial
        </span>
      }
      @if (application.type.formType === 'EXTENSION') {
        <span>
          <mat-icon class="align-bottom">restore</mat-icon>
          Extension
        </span>
      }
    </div>
    @if (this.invitation && application.state === 'APPROVED') {
      <div class="card p-3 mt-2">
        <mat-card-title
          ><i class="material-icons green align-text-top">done</i>
          <a
            class="group-link"
            [routerLink]="['/organizations', vo.id, 'groups', group.id, 'invitations', invitation.id]"
            [perunWebAppsMiddleClickRouterLink]="['/organizations', vo.id.toString(), 'groups', group.id.toString(), 'invitations', invitation.id.toString()]"
            >{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.PREAPPROVED' | translate}}</a
          ></mat-card-title
        >
        <div>
          <span
            class="fw-bold"
            >{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.SENDER' | translate}}</span
          >: {{invitation.senderName | modifiedName : invitation.createdBy}}
        </div>
        <div>
          <span
            class="fw-bold"
            >{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.DATE' | translate}}</span
          >: {{this.submission.timestamp | date:'d.M.y H:mm:ss'}}
        </div>
      </div>
    }
    @if (this.application.state === 'REJECTED') {
      <div class="card p-3 mt-2">
        <mat-card-title
          ><i class="material-icons red align-text-top">clear</i>
          {{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.REJECTED_BY' | translate}}:
          {{latestDecision.approverName | modifiedName : latestDecision.approverName}}</mat-card-title
        >
        <div>
          <span
            class="fw-bold"
            >{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.DATE' | translate}}</span
          >: {{latestDecision.timestamp | date:'d.M.y H:mm:ss'}}
        </div>
      </div>
    }
    @if (this.application.state === 'APPROVED' && !this.invitation) {
      <div class="card p-3 mt-2">
        <mat-card-title
          ><i class="material-icons green align-text-top">done</i>
          {{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.APPROVED_BY' | translate}}:
          {{latestDecision.approverName | modifiedName : latestDecision.approverName}}</mat-card-title
        >
        <div>
          <span
            class="fw-bold"
            >{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.DATE' | translate}}</span
          >: {{latestDecision.timestamp | date:'d.M.y H:mm:ss'}}
        </div>
      </div>
    }
    <!--    @if (-->
    <!--      this.application.state !== 'APPROVED' && this.application.state !== 'REJECTED' && this.application.autoApproveError-->
    <!--    ) {-->
    <!--      <div class="card p-3 mt-2">-->
    <!--        <h5 class="fw-bold">-->
    <!--          <i class="material-icons orange">warning</i>-->
    <!--          {{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.AUTO_APPROVE_FAILURE' | translate}}:-->
    <!--        </h5>-->
    <!--        <div>{{this.application.autoApproveError}}</div>-->
    <!--      </div>-->
    <!--    }-->
    <div class="card p-4 mt-2">
      <mat-card-title
        ><i class="material-icons align-text-top">redo</i>
        {{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.SUBMITTED_BY' | translate}}:
        {{submission.submitterName}}</mat-card-title
      >

      @if (userMail) {
        <div>
          <span
            class="fw-bold"
            >{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.MAIL' | translate}}</span
          >: {{this.userMail}}
        </div>
      }
      <div>
        <span
          class="fw-bold"
          attr.data-cy="{{submission.identityIssuer | lowercase}}-application-extsource"
          >{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.EXT_SRC' | translate}}</span
        >: {{submission.identityIssuer}}
      </div>
      <div>
        <span class="fw-bold">{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.DATE' | translate}}</span
        >: {{this.submission.timestamp | date:'d.M.y H:mm:ss'}}
      </div>

      @if (userData.length !== 0) {
        <table [dataSource]="dataSource" class="w-100" mat-table>
          <ng-container matColumnDef="label">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let userData" class="fw-bold" mat-cell>
              {{userData | getLabelNewReg}}
            </td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let userData" class="word-break-all" mat-cell>
              <div class="d-flex align-items-center">
                {{userData.formItemData.value}}
                @if (
                  (application.state === 'SUBMITTED' || application.state === 'VERIFIED') &&
                                                      userData.itemDefinition?.type !== 'EMBEDDED_GROUP_APPLICATION'
                ) {
                  <button
                    aria-label="Edit Application data"
                    matTooltip="{{'VO_DETAIL.APPLICATION.APPLICATION_DETAIL.EDIT_DISABLED' | translate}}"
                    mat-icon-button>
                    <mat-icon>edit</mat-icon>
                  </button>
                }
              </div>
            </td>
          </ng-container>
          <tr *matHeaderRowDef="displayedColumns" class="h-50" mat-header-row></tr>
          <tr *matRowDef="let userData; columns: displayedColumns;" mat-row></tr>
        </table>
      }
    </div>
  </div>
}
