<h1 class="page-subtitle">{{'LOCAL_ACCOUNT.TITLE' | customTranslate | translate}}</h1>
<div class="page-subtitle">
  {{'LOCAL_ACCOUNT.DESC' | customTranslate | translate}}
</div>
@if ({exists: loginExists$ | async}; as login) {
  <div>
    @if (login.exists) {
      <button mat-flat-button color="accent" (click)="openPwdReset()">
        {{'LOCAL_ACCOUNT.CHANGE_PWD' | customTranslate | translate}}
      </button>
    }
    @if (!login.exists) {
      <button mat-flat-button color="accent" (click)="activateAccount()">
        {{'LOCAL_ACCOUNT.ACTIVATE' | customTranslate | translate}}
      </button>
    }
  </div>
}
